.auth-section {
    position: relative;
    padding: 0 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray1);
}

.auth-container {
    width: 100%;
    max-width: 720px;
    margin: 60px 0;
    padding: 40px 0;
    display: flex;
    border: 1px solid var(--gray3);
    background-color: var(--gray2);
}

.auth-content {
    flex-grow: 1;
}

.auth-flash {
    position: absolute;
    width: 450px;
    margin: 0 auto 30px;
    top: 90px;
    left: 0;
    right: 0;
    text-align: center;
}

.auth-flash p {
    margin: 0;
    color: var(--text-color);
    font-size: var(--auth-flash-size);
}

.auth-form {
    width: 450px;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
}

.auth-input-field {
    width: 100%;
    padding: 7px 0;
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid var(--border-color);
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    color: var(--text-color);
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.auth-input-field:hover {
    border-bottom-color: var(--border-color-hover);
    color: var(--text-color-hover);
}

.form-item {
    margin-bottom: 30px;
}

.input-error-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.auth-form-label {
    display: none;
    position: absolute;
    padding-right: 3px;
    left: 0;
    top: 0;
    color: var(--auth-form-error-color);
    font-size: var(--auth-form-error-size);
    white-space: nowrap;
    transform: translateY(-50%);
}

.auth-input-field:not(:placeholder-shown) + .auth-form-label {
    display: block;
}

.auth-form-error {
    position: absolute;
    padding-right: 3px;
    right: 0;
    top: 50%;
    color: var(--text-color);
    font-size: var(--auth-form-error-size);
    white-space: nowrap;
    transform: translateY(-50%);
}

.remember-me {
    margin: 0 5px 0 0;
    padding: 7px 0;
    cursor: pointer;
    color: var(--text-color);
    opacity: 0.5;
    transition: color 0.3s ease, opacity 0.3s ease; // Added opacity transition
}

.remember-devider {
    padding: 0 0 7px 0;
    border-bottom: 1px solid var(--border-color);
    transition: border-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.remember-devider:hover {
    border-bottom-color: var(--border-color-hover);
    cursor: pointer;
}

.remember-devider:hover .remember-me {
    color: var(--text-color-hover);
}

.last-form-item {
    margin-bottom: 0;
}

.auth-btn {
    width: 100%;
    margin: 0 auto;
    padding: 35px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: var(--btn-text-size);
    color: var(--button-color);
    transition: color 0.3s ease-in-out;
}

.auth-btn:hover {
    color: var(--white-100);
}

.auth-devider {
    margin: 0;
    border-bottom: 1px solid var(--border-color);
    transition: border-color 0.3s ease-in-out;
}

.auth-devider:hover {
    border-bottom-color: var(--border-color-hover);
}

.auth-options-container {
    width: 450px;
    margin: 10px auto 40px;
}

.auth-options-content {
    position: relative;
    margin: 0 0 5px 0;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
}

.auth-options-content a {
    color: inherit;
}

.auth-options-content::after {
    content: '';
    position: absolute;
    width: 0;
    right: 0;
    height: 1px;
    bottom: -2px;
    background-color: var(--text-color);
    transition: width 0.3s ease-in-out;
}

.auth-options-content:hover {
    color: var(--text-color-hover);
}

.auth-options-content:hover::after {
    width: 100%;
    left: 0;
    right: auto;
    background-color: var(--text-color-hover);
}

@media (max-width: 474.98px) {
    .auth-section {
        padding: 0 9%;
    }
    .auth-form,
    .auth-options-container,
    .auth-flash {
        width: 225px;
        margin-left: auto;
        margin-right: auto;
    }
    .input-error-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .auth-form-error {
        margin-top: 5px;
        position: static;
        transform: none;
    }
}

@media (min-width: 475px) and (max-width: 767.98px) {
    .auth-section {
        padding: 0 9%;
    }
    .auth-form,
    .auth-options-container,
    .auth-flash {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .input-error-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .auth-form-error {
        margin-top: 5px;
        position: static;
        transform: none;
    }
}



@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
