.auth-section {
    background-color: var(--gray1);
    padding: 0 20%;
    display: flex;
}

.auth-container {
    background-color: var(--gray2);
    width: 100%;
    border: 1px solid var(--gray3);
    display: flex;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 50px;
}

.auth-content {
    flex-grow: 1;
}

.auth_flash {
    width: 350px;
    margin: 0 auto 30px;
    padding: 15px;
    text-align: center;
}

.auth_flash p {
    margin: 0;
    color: var(--auth_text);
    font-size: var(--auth_flash_size);
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 30px auto 0;
}

.auth_input_field {
    width: 100%;
    padding: 7px 0;
    border: none;
    border-bottom: 1px solid var(--auth_border_color);
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: var(--auth_input_text);
    flex-grow: 1;
    margin-right: 10px;
}

.auth_input_field:hover {
    border-bottom-color: var(--auth_border_color_hover);
    color: var(--auth_input_text_hover);
}

.form-item {
    margin-bottom: 30px;
}

.input-error-container {
    position: relative;
    display: flex;
    align-items: center;
}

.form-error {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--form_error);
    /* color: red; */
    font-size: 0.8em;
    white-space: nowrap;
    background-color: transparent;
    padding: 2px 5px;
}

.remember-me {
    color: var(--auth_input_text);
    opacity: 0.5;
    padding: 7px 0;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-right: 5px;
}

.remember-devider {
    border-bottom: 1px solid var(--auth_border_color);
    transition: border-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.remember-devider:hover {
    border-bottom-color: var(--auth_border_color_hover);
    cursor: pointer;
}

.remember-devider:hover .remember-me {
    color: var(--auth_input_text_hover);
}

.last-form-item {
    margin-bottom: 0;
}

.auth-btn {
    border: none;
    padding-top: 35px;
    padding-bottom: 35px;
    color: var(--auth_btn_text);
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    font-size: var(--auth_btn_text_size);
}

.auth-btn:hover {
    background-color: transparent;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    color: var(--auth_btn_text_hover);
}

.auth-devider {
    margin: 0;
    border-bottom: 1px solid var(--auth_border_color);
    transition: border-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.auth-devider:hover {
    border-bottom-color: var(--auth_border_color_hover);
}

.auth-options-container {
    width: 350px;
    margin: 10px auto;
    margin-bottom: 40px;
}

.auth-options-content {
    cursor: pointer;
    color: var(--auth_text);
    opacity: 1;
    transition: color 0.3s ease-in-out;
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.auth-options-content a {
    color: inherit;
    text-decoration: none;
}

.auth-options-content::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 1px;
    right: 0;
    background-color: var(--auth_text);
    transition: width 0.3s ease-in-out;
}

.auth-options-content:hover {
    color: var(--auth_text_hover);
}

.auth-options-content:hover::after {
    width: 100%;
    background-color: var(--auth_text_hover);
    left: 0;
    right: auto;
}

@media (max-width: 434.98px) {
    .auth-section {
        padding: 0 5%;
    }
    .auth-form,
    .auth-options-container {
        width: 260px;
    }
    .input-error-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .form-error {
        position: static;
        transform: none;
        margin-top: 5px;
    }
}

@media (min-width: 435px) and (max-width: 499.98px) {
    .auth-section {
        padding: 0 4%;
    }
    .auth-form,
    .auth-options-container {
        width: 290px;
    }
}

@media (min-width: 500px) and (max-width: 575.98px) {
    .auth-section {
        padding: 0 7%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .auth-section {
        padding: 0 11%;
    }    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .auth-container {
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .auth-container {
    }
}

@media (min-width: 1200px) {
    .auth-container {
    }
}

@media (max-width: 434.98px) {
    .flashed-messages {
        width: 260px;
    }
}

@media (min-width: 435px) and (max-width: 499.98px) {
    .flashed-messages {
        width: 290px;
    }
}