.card {
    background-color: var(--gray2) !important;
  }
  
  .gradient-custom {
    background-image: url('../images/your-background-image.jpg');
    background-size: cover;
    background-position: center;
    display: block;
    max-width: 100%;
  }
  