{% extends "news/news_base.html" %}


{% block title %}
News
{% endblock %}

{% block news_content %}
<div class="news-item-container">
    <div class="news-item">

        <div class="news-header outline-bottom news-gap">
            <p class="news-code {{ news_dict.color }}">{{ news_dict.code }}</p>
            <p class="news-title outline-left">{{ news_dict.title }}</p>
        </div>
        
        <div class="news-info">
        <p class="news-important news-gap">{{ news_dict.important }}</p>

        {% if news_dict.grid_cols %}
            <div class="news-table-container news-gap">
                {% for row in news_dict.row_list %}
                    <div class="row-container outline-top outline-bottom">
                        {% for item in row %}
                            <div class="row-item">{{ item }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        {% if news_dict.info_rows %}
            <div class="news-info-container news-gap">
                {% for i in range(news_dict.info_rows|length) %}
                    <div class="info-title">
                        {{ news_dict.info_cols[i] }}
                    </div>
                    <div class="info-content news-gap">
                        {{ news_dict.info_rows[i] }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="news-footer news-gap">

            <div class="icon-wrapper">
                <div class="icon-container">
                    <p class="view-count">{{ news_dict.seen_by|length }}</p>
                    <img class="view-icon" src="{{ url_for('static', filename='images/views.png') }}" alt="Comments">
                </div>
                <div class="icon-container">
                    <p class="comment-count">{{ news_dict.tot_remarks }}</p>
                    <img class="comment-icon" src="{{ url_for('static', filename='images/comments.png') }}" alt="Comments">
                </div>
            </div>

            

            <div class="author-date-container">
                <p class="author">{{ news_dict.author }}</p>
                <p class="date">{{ news_dict.created_at }}</p>
            </div>

        </div>

        <div class="comment-container">
            <form method="POST" novalidate action="{{ url_for('news.news', id_=news_dict.id) }}" class="comment-form" id="comment-form">
                {{ comment_form.hidden_tag() }}
                
                <div class="form-item">
                    
                    {{ comment_form.content(class="comment-input-field") }}
                    <div class="input-error-container">
                        {% if form_errors["content"] %}
                            <div class="form-error">
                                <strong>{{ form_errors["content"][0] }}</strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="comment-devider news-gap"> 
                    {{ comment_form.submit(class="btn comment-btn") }}
                </div>
            </form>

        </div>  

            <div class="comments-container news-gap">
                {% for comment in news_dict.comments %}
                    <div class="comment-item outline news-gap">
                        <div class="comment-info">
                            <p class="comment-author italic">{{ comment.author }}</p>
                            <p class="comment-author italic">{{ comment.created_at }}</p>
                            <p class="comment-content">{{ comment.content|safe }}</p>
                        </div>
                        <div class="comment-actions">
                            <div class="comment-reply comment-action outline">
                                Reply
                            </div>
                            <div class="comment-quote comment-action outline">
                                Quote
                            </div>
                        </div>
                    </div>

                    <!-- <div class="news-seperator news-gap"></div> -->
                {% endfor %}
                {% for message in get_flashed_messages() %}
            <div id="news-flash" class="news-flash news-gap">
                <p>{{ message }}</p>    
            </div>
            {% endfor %}
            </div>

    </div>  
</div>
{% endblock %}
