{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<section class="news-section">
    <div class="news-container">
        
        {% include "news/side_panel.html" %}
        <div class="news-content">
            <input type="checkbox" id="toggle-top-panel" style="display: none;">
            <label class="news-link" for="toggle-top-panel">News</label>

            {% include "news/top_panel.html" %}
            
            {% block news_content %}
            {% endblock %}

        </div>        
    </div>
</section>
{% endblock %}
