{% extends "news/news_base.html" %}


{% block scripts %}
<link rel="preload" href="{{ url_for("static", filename="dist/news_css.min.css") }}" as="style" onload="this.rel='stylesheet'">
{% endblock %}

{% block title %}
News
{% endblock %}

{% block news_content %}
<div class="news-content blur-target">
    <div class="news-item">

        <!-- News header -->
        <div class="news-header outline-bottom">
            <p class="news-code {{ news_dict.color }}">{{ news_dict.code }}</p>
            <p class="news-title outline-left">{{ news_dict.title }}</p>
        </div>

        <!-- News important -->
        <div class="news-important-wrapper">
            <p class="news-important">{{ news_dict.important }}</p>

            <!-- News table -->
            {% if news_dict.grid_cols %}
                <div class="news-table-wrapper">
                    <div class="row-wrapper">
                        {% for col_item in news_dict.grid_cols %}
                            <div class="row-item">{{ col_item }}</div>
                        {% endfor %}
                    </div>
                {% for row in news_dict.grid_rows %}
                    <div class="row-wrapper">
                        {% for row_item in row %}
                            <div class="row-item">{{ row_item }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        </div>

        <!-- News topics -->
        {% if news_dict.info_rows %}
            <div class="news-info-wrapper">
                {% for i in range(news_dict.info_rows|length) %}
                    <div class="info-title">
                        {{ news_dict.info_cols[i] }}
                    </div>
                    <div class="info-content">
                        {{ news_dict.info_rows[i] }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- News footer -->
        <div class="news-footer">
            <div class="like-dislike-wrapper" id="like-dislike">
                
                <!-- Like -->
                <div class="like-wrapper">
                    {% if current_user.id|string in news_dict.liked_by %}
                        <p>{{ news_dict.liked_by|length }}</p>
                        <a class="disable-a" href="{{ url_for("news.like_news", id_=news_dict.id) }}">
                            <img class="like-icon" src="{{ url_for("static",
                                                   filename="images/like_col_xl.png") }}" 
                                                   alt="Like"
                                                   type="image/png"></a>
                    {% else %}
                        <p>{{ news_dict.liked_by|length }}</p>
                        <a href="{{ url_for("news.like_news", id_=news_dict.id) }}">
                            <img class="like-icon" src="{{ url_for("static",
                                                   filename="images/like_xl.png") }}" 
                                                   alt="Like"
                                                   type="image/png"></a>
                    {% endif %}
                </div>

                <!-- Dislike -->
                <div class="dislike-wrapper">
                    {% if current_user.id|string in news_dict.disliked_by %}
                        <a class="disable-a" href="{{ url_for("news.dislike_news", id_=news_dict.id) }}">
                            <img class="dislike-icon" src="{{ url_for("static",
                                                      filename="images/dislike_col_xl.png") }}" 
                                                      alt="Dislike"
                                                      type="image/png"></a>
                        <p>{{ news_dict.disliked_by|length }}</p>
                    {% else %}
                        <a href="{{ url_for("news.dislike_news", id_=news_dict.id) }}">
                            <img class="dislike-icon" src="{{ url_for("static",
                                                      filename="images/dislike_xl.png") }}" 
                                                      alt="Dislike"
                                                      type="image/png"></a>
                        <p>{{ news_dict.disliked_by|length }}</p>
                    {% endif %}
                </div>
            </div>

            <!-- Author and date -->
            <div class="author-date-wrapper">
                <p class="author">{{ news_dict.author }}</p>
                <p class="date">{{ news_dict.created_at }}</p>
            </div>

            <!-- Views and comments -->
            <div class="icon-wrapper">
                <div class="icon-content">
                    <p class="view-count">{{ news_dict.seen_by|length }}</p>
                    <img class="view-icon" src="{{ url_for("static",
                                           filename="images/views.png") }}" 
                                           alt="Comments"
                                           type="image/png">
                </div>
                <div class="icon-content">
                    <p class="comment-count">{{ news_dict.comments|length }}</p>
                    <img class="comment-icon" src="{{ url_for("static",
                                               filename="images/comments.png") }}" 
                                               alt="Comments"
                                               type="image/png">
                </div>
            </div>

        </div>

        <div class="post-comment-wrapper" id="post-comment-wrapper">
            <!-- Comment form -->
            <form method="POST" novalidate action="{{ url_for("news.news", id_=news_dict.id) }}" class="comment-form" id="comment-form">

                <div class="form-item last-form-item">
                    {{ comment_form.content(class="comment-input-field") }}
                    <div class="input-error-wrapper">
                        {% if comment_form_errors["content"] %}
                            <div class="form-error">
                                <strong>{{ comment_form_errors["content"][0] }}</strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
                
                {{ comment_form.form_type }}
                {{ comment_form.hidden_tag() }}
                <div class="comment-devider"> 
                    {{ comment_form.submit(class="comment-btn") }}
                </div>
            </form>

        </div>  

        <!-- Comments -->
        <div class="comments-wrapper">
            {% for comment in news_dict.comments %}
                    <div class="comment-item outline {% if post_comment and loop.last %}post-comment{% endif %}" id="comment-{{ comment.id }}">
                        <div class="comment-info">

                            <!-- Comment header -->
                            <div class="comment-header">
                                <div class="comment-profile-icon-wrapper">
                                    {% if current_user.profile_icon %}
                                        <img class="comment-profile-icon" src="{{ url_for("profile_icons_folder",
                                                                          filename=current_user.profile_icon) }}"
                                                                          alt="profile icon"
                                                                          type="image/png">
                                    {% endif %}
                                </div>
                                <div>
                                    <p class="comment-author italic">{{ comment.display_name }}</p>
                                    <p class="comment-author italic">{{ comment.created_at }}</p>
                                </div>
                            </div>

                            <!-- Comment content -->
                            <p class="comment-content">{{ comment.content|safe }}</p>
                        </div>

                        <div class="comment-actions">
                            <!-- Like actions -->
                            <a class="{% if current_user.id|string in comment.liked_by %}disable-a{% endif %}" href="{{ url_for("news.like_comment", id_=comment.id) }}">
                                <div class="comment-like {% if comment.id == comment_id and current_user.id|string in comment.liked_by %}like-dislike-comment{% endif %}">
                                    {% if current_user.id|string in comment.liked_by %}
                                        <img class="like-comment-icon" src="{{ url_for("static",
                                                                       filename="images/like_col_xs.png") }}" 
                                                                       alt="Like"
                                                                       type="image/png">
                                    {% else %}
                                        <img class="like-comment-icon" src="{{ url_for("static",
                                                                       filename="images/like_xs.png") }}" 
                                                                       alt="Like"
                                                                       type="image/png">
                                    {% endif %}
                                    <p class="comment-like-count">{{ comment.liked_by|length }}</p>
                                </div>
                            </a>

                            <!-- Dislike actions -->
                            <a class="{% if current_user.id|string in comment.disliked_by %}disable-a{% endif %}" href="{{ url_for("news.dislike_comment", id_=comment.id) }}">
                                <div class="comment-dislike {% if comment.id == comment_id and current_user.id|string in comment.disliked_by %}like-dislike-comment{% endif %}">
                                    {% if current_user.id|string in comment.disliked_by %}
                                        <img class="dislike-comment-icon" src="{{ url_for("static",
                                                                          filename="images/dislike_col_xs.png") }}" 
                                                                          alt="Dislike"
                                                                          type="image/png">
                                    {% else %}
                                        <img class="dislike-comment-icon" src="{{ url_for("static",
                                                                          filename="images/dislike_xs.png") }}" 
                                                                          alt="Dislike"
                                                                          type="image/png">
                                    {% endif %}
                                    <p class="comment-dislike-count">{{ comment.disliked_by|length }}</p>
                                </div>
                            </a>
                        </div>
                    </div>

                {% endfor %}

                <!-- Comment flash -->
                {% if flash_type == "comment" and get_flashed_messages() %}
                        <div id="comment-flash" class="comment-flash">
                            <p>{{ get_flashed_messages()[0] }}</p>    
                        </div>
                {% endif %}
            </div>

    </div>  
    <a href="#like-dislike" class="scroll-to-top">
        <img src="{{ url_for("static",
             filename="images/scroll_up.png") }}" 
             alt="Go up"
             type="image/png">
    </a>
</div>
{% endblock %}
