# Ignore PyCharm project files
.idea/

# Ignore compiled Python files
*.pyc

# Ignore Python cache files
__pycache__/

# Ignore log files
*.log

# Ignore environment files
*.env
.env
.venv/

# Ignore Flask-Assets cache
.webassets-cache/

# Ignore compiled assets
dist/

# Ignore secret files
client_secret.json
.flaskenv
schedule.json
schedule2.json

# Ignore backups
backups/

# Ignore databases
db/
migrations/

# Ignore uploaded files
profile_pictures/

# Cursor rules
.cursorrules

# Ignore playgrounds
playground.py

# Ignore logs
logs/
*.log
