# Ignore PyCharm project files
.idea/

# Ignore compiled Python files
*.pyc

# Ignore Python cache files
__pycache__/

# Ignore log files
*.log

# Ignore environment files
*.env
.env
.venv/

# Ignore secret files
client_secret.json
.flaskenv

# Ignore backups
backups/

# Ignore databases
db/

# Ignore uploaded files
profile_pictures/

# Cursor rules
.cursorrules

# Ignore playgrounds
playground.py