.smaller-padding {
    padding: 0 0 17px 0;
}

.admin-wrapper {
    padding: 75px 12%;
}

.admin-content {
    padding: 40px 0 0 0;
}

.verify-wrapper {
    padding: 0 50px;
}

.verify-gap {
    padding-bottom: 100px;
}

.admin-gap {
    padding: 0 0 60px 0;
}

.admin-flash-gap {
    padding: 0 0 30px 0;
}

.admin-flash p {
    margin: 0;
    text-align: center;
    color: var(--text-color);
    font-size: var(--admin-flash-size);
}

.verify-content {
    padding: 0 0 30px 0;
    color: var(--text-color);
}

.verify-header {
    padding: 0 0 5px 0;
    font-size: 1.3rem;
}

.profile-icon-wrapper {
    display: flex;
    gap: 10px;
}

.profile-icon-img {
    padding: 5px;
}

.profile-icon-img:hover {
    filter: brightness(2);
}

.selected-profile-icon {
    border: 2px solid var(--text-color);
}

.selected-profile-icon:hover {
    border-color: var(--border-color-hover);
}

.profile-picture-text {
    position: absolute;
    left: 0;
    bottom: 5px;
    color: var(--text-color);
}

.profile-picture-label {
    position: absolute;
    left: 0;
    bottom: 5px;
    color: var(--label-color);
}

.profile-picture-field {
    height: 36px;
    padding: 26px 0 0 0;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.profile-picture-field:hover {
    color: var(--text-color-hover);
    border-bottom-color: var(--border-color-hover);
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.profile-pic-div {
    display: flex;
    justify-content: center;
}

.profile-pic-img {
    max-height: 300px;
}

.about-me-label {
    position: absolute;
    left: 0;
    bottom: 195px;
}

/* .notification-item-wrapper {
    
    margin-bottom: 10px;
}

.notification-item-flex {
    display: flex;
    font-size: var(--admin-form-input-size);
    color: var(--label-color);
}

.notification-label {
    pointer-events: none;
    display: inline-block;
    min-width: 250px;
    padding: 7px 0;
    font-size: var(--admin-form-input-size);
    color: var(--label-color);
}

.notification-label-checked {
    color: var(--text-color);
} */

.href-scroll {
    scroll-margin-top: 100px;
}

.blur {
    filter: blur(3px);
    transition: filter 0.2s ease-in-out;
}




@media (max-width: 474.98px) {
    .admin-wrapper {
        padding: 75px 9%;
    }
    .verify-wrapper {
        padding: 0 0 100px 0;
    }
    .admin-input-field {
        font-size: var(--admin-form-input-size-s);
    }
    .admin-forms-wrapper {
        padding: 0;
    }
    .profile-icon-wrapper {
        position: absolute;
        flex-wrap: wrap;
        top: 10px;
        right: 0;
    }
    .profile-picture-field {
        padding-top: 60px;
    }
    .profile-icon-label {
        bottom: 53px;
    }
}

@media (min-width: 475px) and (max-width: 767.98px) {
    .admin-wrapper {
        padding: 75px 9%;
    }
    .verify-wrapper {
        padding: 0 0 100px 0;
    }
    .admin-input-field {
        font-size: var(--admin-form-input-size-s);
    }
    .admin-forms-wrapper {
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .verify-wrapper {
        padding: 0 0 100px 0;
    }
    .admin-input-field {
        font-size: var(--admin-form-input-size-s);
    }
    .admin-forms-wrapper {
        padding: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .verify-wrapper {
        padding: 0 0 100px 0;
    }
    .admin-forms-wrapper {
        padding: 0;
    }
}

@media (min-width: 1200px) {
}
