<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts Josefin Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    <!-- Fav Icon -->
    <script src="https://kit.fontawesome.com/0a8b309a8e.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <!-- Style sheets -->
    <link rel="stylesheet" href="../static/css/settings.css">
    <link rel="stylesheet" href="../static/css/auth/auth_base.css">
    <link rel="stylesheet" href="../static/css/auth/auth.css">

    <title>
        {% block auth_title %}
        {% endblock %}
    </title>

</head>
<body>
    <!-- ********** Fast Login ********** -->
<section class="fast-section">
        <div class="fast-wrapper">
            <div class="fast-content">

                <!-- Fast Login Form -->
                <form method="POST" action="" novalidate class="fast-form">
                    <div class="fast-input-wrapper">
                            {{ fast_login_form.fast_name(class="fast-underline-input") }}
                            {{ fast_login_form.fast_code(class="fast-underline-input") }}
                    </div>

                    <div class="fast-button-wrapper">
                        {{ fast_login_form.login_type }}
                        {{ fast_login_form.hidden_tag() }}
                        {{ fast_login_form.submit(class="fast-login-btn") }}
                    </div>
                </form>

                <div class="fast-flash-wrapper">
                    {% if fast and get_flashed_messages() %}
                    <div class="fast-flash">
                            <p>{{ get_flashed_messages()[0] }}</p>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
</section>

{% block auth_content %}
{% endblock %}

</body>
</html>