<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <!-- flaticon -->
    <!-- icons8 -->
    <!-- Style sheets -->
    <link rel="preload"
          href="{{ url_for("static",
          filename="dist/auth_css.min.css") }}" 
          as="style"
          onload="this.rel='stylesheet'">
    
    <link rel="icon"
          href="{{ url_for("static", 
          filename="images/favicon.png") }}" 
          type="image/png">

    

    <title>
        {% block auth_title %}
        {% endblock %}
    </title>

</head>
<body>
    <!-- ********** Fast Login ********** -->
<section class="fast-section">
        <div class="fast-wrapper">
            <div class="fast-content">

                <!-- Fast Login Form -->
                <form method="POST" action="" novalidate class="fast-form">
                    <div class="fast-input-wrapper">
                            {{ fast_login_form.fast_name(class="fast-underline-input") }}
                            {{ fast_login_form.fast_code(class="fast-underline-input") }}
                    </div>

                    <div class="fast-button-wrapper">
                        {{ fast_login_form.login_type }}
                        {{ fast_login_form.hidden_tag() }}
                        {{ fast_login_form.submit(class="fast-login-btn") }}
                    </div>
                </form>

                <div class="fast-flash-wrapper">
                    {% if fast and get_flashed_messages() %}
                    <div class="fast-flash">
                            <p>{{ get_flashed_messages()[0] }}</p>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
</section>

{% block auth_content %}
{% endblock %}

</body>
</html>