{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<section id="hero-section">

    <div class="hero-container">

        <div class="hero-title-container">

            <div class="hero-header-container">
                <div class="hero-title-div">
                    <div class="hero-vline"></div>
                    <h1 class="hero-title">Tomas W</h1>
                </div>

                <div class="hero-subtitle-div">
                    <p class="hero-subtitle">making programming interesting.</p>
                </div>
            </div>

            <div class="hero-anchor-container-small">
                <a class="skill-icon" href="#"><i class="fa-solid fa-brain fa-xl"></i></a>
                <a class="data-icon" href="#"><i class="fa-solid fa-chart-line fa-xl"></i></a>
                <a class="game-icon" href="#"><i class="fa-solid fa-dice fa-xl"></i></a>
                <a class="project-icon" href="#"><i class="fa-solid fa-wrench fa-xl"></i></a>
                <a class="contact-icon" href="#"><i
                        class="fa-regular fa-address-card fa-xl"></i></a>
            </div>

            <div class="hero-profile-card">
                <p class="profile-card-text">
                    Welcome. Have a look around in my training area.
                    You can find all kinds of projects and games I'm working on.
                </p>
            </div>

            <div class="hero-icon-card">
                <p class="icon-card-text">
                    Welcome. Have a look around in my training area.
                    You can find all kinds of projects and games I'm working on to improve my skills
                    as a programmer.
                </p>
            </div>
        </div>

        <div class="hero-anchor-container">
            <a class="skill-icon" href="#"><i class="fa-solid fa-brain fa-xl"></i></a>
            <a class="data-icon" href="#"><i class="fa-solid fa-chart-line fa-xl"></i></a>
            <a class="game-icon" href="#"><i class="fa-solid fa-dice fa-xl"></i></a>
            <a class="project-icon" href="#"><i class="fa-solid fa-wrench fa-xl"></i></a>
            <a class="contact-icon" href="#"><i class="fa-regular fa-address-card fa-xl"></i></a>
        </div>
    </div>

</section>

<div class="hero-spacer-small"></div>
<div class="hero-spacer"></div>



<section id="skill-section">
    <div class="skill-section-container">

        <div class="skill-header">
            <h2 class="skill-title">Skills</h2>
            <p class="skill-subtitle">Overview of the languages and libraries I've been learning</p>
        </div>


        <div class="skill-content">
            <div class="row d-flex justify-content-center">

                <div class="skill-div col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center">
                    <div class="python-skill-div">
                        <a href="#skill-section" class="logo-anchor"><img
                                src="../static/images/home/python-logo.png" alt="xl"
                                class="skill-logo python-logo"></a>
                        <div class="python-card skill-card"></div>
                        <h4 class="python-card-h4 skill-card-h4">Python</h4>
                        <p class="python-card-p1 skill-card-p1">Flask</p>
                        <p class="python-card-p2 skill-card-p2">Jinja</p>
                        <p class="python-card-p3 skill-card-p3">Pandas</p>
                        <p class="python-card-p4 skill-card-p4"><a class="skill-sect-link"
                                                                   href="#skill-section">Read
                            more..</a></p>
                    </div>
                </div>

                <div class="skill-div col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="html-skill-div">
                        <a href="#skill-section" class="logo-anchor"><img
                                src="../static/images/home/html-logo.png" alt="xl"
                                class="skill-logo html-logo"></a>
                        <div class="html-card skill-card"></div>
                        <h4 class="html-card-h4 skill-card-h4">HTML</h4>
                        <p class="html-card-p1 skill-card-p1">Bootstrap</p>
                        <p class="html-card-p2 skill-card-p2">Flex</p>
                        <p class="html-card-p3 skill-card-p3">Grid</p>
                        <p class="html-card-p4 skill-card-p4"><a class="skill-sect-link"
                                                                 href="#skill-section">Read
                            more..</a></p>
                    </div>
                </div>

                <div class="skill-div col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="css-skill-div">
                        <a href="#skill-section" class="logo-anchor"><img
                                src="../static/images/home/css-logo.png" alt="xl"
                                class="skill-logo css-logo"></a>
                        <div class="css-card skill-card"></div>
                        <h4 class="css-card-h4 skill-card-h4">CSS</h4>
                        <p class="css-card-p1 skill-card-p1">Effects</p>
                        <p class="css-card-p2 skill-card-p2">Transitions</p>
                        <p class="css-card-p3 skill-card-p3">Scripts</p>
                        <p class="css-card-p4 skill-card-p4"><a class="skill-sect-link"
                                                                href="#skill-section">Read
                            more..</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<div class="skill-spacer"></div>


<section id="data-section">
    <div class="data-section-container">

        <div class="data-header">
            <h2 class="data-title">Data</h2>
            <p class="data-subtitle">Generate graphs on the spot for your favorite topic</p>
        </div>

        <div class="data-content-container">

            <div class="data-pubg data-content">
                <div class="data-pubg-carousel data-carousel">
                    <div class="carousel slide carousel-fade"
                         data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="3000">
                                <img src="../static/images/home/data-pubg1.png"
                                     class="d-block w-100" alt="pubg1.png">
                            </div>
                            <div class="carousel-item" data-bs-interval="3000">
                                <img src="../static/images/home/data-pubg2.png"
                                     class="d-block w-100" alt="pubg2.png">
                            </div>
                            <div class="carousel-item" data-bs-interval="3000">
                                <img src="../static/images/home/data-pubg3.png"
                                     class="d-block w-100" alt="pubg3.png">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="data-pubg-content data-info">
                    <h3 class="data-content-subtitle-pubg data-content-subtitle"><a href="NONE}">PUBG</a></h3>
                    <ul class="data-list">
                        <li><p>Search globally</p></li>
                        <li><p>Compare different stats</p></li>
                        <li><p>Track improvement</p></li>
                    </ul>
                </div>
            </div>


            <div class="data-pubg data-content">
                <div class="data-pubg-carousel data-carousel">
                    <div class="carousel slide carousel-fade"
                         data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="5000">
                                <img src="../static/images/home/data-cpi1.png"
                                     class="d-block w-100" alt="cpi1.png">
                            </div>
                            <div class="carousel-item" data-bs-interval="5000">
                                <img src="../static/images/home/data-cpi2.png"
                                     class="d-block w-100" alt="cpi2.png">
                            </div>
                            <div class="carousel-item" data-bs-interval="5000">
                                <img src="../static/images/home/data-cpi3.png"
                                     class="d-block w-100" alt="cpi3.png">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="data-pubg-content data-info">
                    <h3 class="data-content-subtitle-pubg data-content-subtitle"><a href="NONE">CPI</a></h3>
                    <ul class="data-list">
                        <li><p>Dutch price indexes</p></li>
                        <li><p>Select and compare</p></li>
                        <li><p>Save money</p></li>
                    </ul>
                </div>
            </div>


            <div class="data-pubg data-content">
                <div class="data-pubg-carousel data-carousel">
                    <div class="carousel slide carousel-fade"
                         data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="4500">
                                <img src="../static/images/home/data-crime1.png"
                                     class="d-block w-100" alt="crime1.png">
                            </div>
                            <div class="carousel-item" data-bs-interval="4500">
                                <img src="../static/images/home/data-crime2.png"
                                     class="d-block w-100" alt="crime2.png">
                            </div>
                            <div class="carousel-item" data-bs-interval="4500">
                                <img src="../static/images/home/data-crime3.png"
                                     class="d-block w-100" alt="crime3.png">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="data-pubg-content data-info">
                    <h3 class="data-content-subtitle-pubg data-content-subtitle">Crime</h3>
                    <ul class="data-list">
                        <li><p>Coming soon</p></li>
                        <li><p>Coming soon</p></li>
                        <li><p>Coming soon</p></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>


<section id="game-section">

    <div class="game-section-container">

        <div class="game-header">
            <h2 class="game-title">
                Games
            </h2>
            <p class="game-sumbitle">
                Various games to kill some time
            </p>
        </div>

        <div class="game-content-container">

            <div class="game-countries-container game-content">
                <a href="NONE" class="game-countries-link game-link"><h4 class="game-game-link">Countries game</h4></a>
                <img src="../static/images/home/data-countriesgame.png" class="game-countries-image game-image">
            </div>

            <div class="game-wordle-container game-content">
                <a href="NONE" class="game-countries-link game-link"><h4 class="game-game-link">Wordle game</h4></a>
                <img src="../static/images/home/data-wordlegame.png" class="game-countries-image game-image">
            </div>

            <div class="game-number-container game-content">
                <a href="NONE" class="game-countries-link game-link"><h4 class="game-game-link">Numbers game</h4></a>
                <img src="../static/images/home/data-numbersgame.png" class="game-countries-image game-image">
            </div>

        </div>
    </div>
</section>


<section id="tools-section">

    <div class="tools-section-container">

        <div class="tools-header">
            <h2 class="tools-title">
                Tools
            </h2>
            <p class="tools-subtitle">
                Various useful tools
            </p>
        </div>

        <div class="tools-image-container">
            <img src="../static/images/home/warning-logo.png" class="tools-image" alt="warning-logo.png">
            <h3 class="tools-text">
                Under construction
            </h3>
            <a class="tools-sneak-peak" href="NONE">Sneak peak</a>
        </div>

    </div>
</section>


<script>
    var profileText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor dictum lacus, ut laoreet dolor."
    var skillText = "Have a quick look at what's under the hood. If it looks interesting, you might want to look a little closer."
    var dataText = "Who doesn't like data? Find insights into your favorite game, place or hobby."
    var gameText = "Have a break and distract yourself with a couple browser games."
    var toolText = "What better way to practice than  creating some simple tools? Check them out!"
    var contactText = "Locate my contact information by clicking the icon, or find it at the bottom of the page!"

<!--***** Hero Card Animation *****-->
<!--*Hero**Skill*-->
    $( ".skill-icon" ).hover(
        function() {$(".hero-profile-card").stop().animate({"top":"140px"});},
        function() {$(".hero-profile-card").stop().animate({"top":"0"});}
        );
    $( ".skill-icon" ).hover(
        function() {$(".hero-icon-card").stop().animate({"bottom":"140px"});},
        function() {$(".hero-icon-card").stop().animate({"bottom":"0"});}
        );
    $( ".skill-icon" ).hover(
        function() {$(".profile-card-text").stop().animate({"opacity":"0"});},
        function() {$(".profile-card-text").stop().animate({"opacity":"1"});}
        );
    $( ".skill-icon" ).hover(
        function() {$(".icon-card-text").stop().animate({"opacity":"1"});},
        function() {$(".icon-card-text").stop().animate({"opacity":"0"});}
        );
    $( ".skill-icon" ).hover(
        function() {$(".icon-card-text").text( skillText );}
        );
<!--*Hero**Data*-->
    $( ".data-icon" ).hover(
        function() {$(".hero-profile-card").stop().animate({"top":"140px"});},
        function() {$(".hero-profile-card").stop().animate({"top":"0"});}
        );
    $( ".data-icon" ).hover(
        function() {$(".hero-icon-card").stop().animate({"bottom":"140px"});},
        function() {$(".hero-icon-card").stop().animate({"bottom":"0"});}
        );
    $( ".data-icon" ).hover(
        function() {$(".profile-card-text").stop().animate({"opacity":"0"});},
        function() {$(".profile-card-text").stop().animate({"opacity":"1"});}
        );
    $( ".data-icon" ).hover(
        function() {$(".icon-card-text").stop().animate({"opacity":"1"});},
        function() {$(".icon-card-text").stop().animate({"opacity":"0"});}
        );
    $( ".data-icon" ).hover(
        function() {$(".icon-card-text").text( dataText );}
        );
<!--*Hero**Game*-->
    $( ".game-icon" ).hover(
        function() {$(".hero-profile-card").stop().animate({"top":"140px"});},
        function() {$(".hero-profile-card").stop().animate({"top":"0"});}
        );
    $( ".game-icon" ).hover(
        function() {$(".hero-icon-card").stop().animate({"bottom":"140px"});},
        function() {$(".hero-icon-card").stop().animate({"bottom":"0"});}
        );
    $( ".game-icon" ).hover(
        function() {$(".profile-card-text").stop().animate({"opacity":"0"});},
        function() {$(".profile-card-text").stop().animate({"opacity":"1"});}
        );
    $( ".game-icon" ).hover(
        function() {$(".icon-card-text").stop().animate({"opacity":"1"});},
        function() {$(".icon-card-text").stop().animate({"opacity":"0"});}
        );
    $( ".game-icon" ).hover(
        function() {$(".icon-card-text").text( gameText );}
        );
<!--*Hero**Project*-->
    $( ".project-icon" ).hover(
        function() {$(".hero-profile-card").stop().animate({"top":"140px"});},
        function() {$(".hero-profile-card").stop().animate({"top":"0"});}
        );
    $( ".project-icon" ).hover(
        function() {$(".hero-icon-card").stop().animate({"bottom":"140px"});},
        function() {$(".hero-icon-card").stop().animate({"bottom":"0"});}
        );
    $( ".project-icon" ).hover(
        function() {$(".profile-card-text").stop().animate({"opacity":"0"});},
        function() {$(".profile-card-text").stop().animate({"opacity":"1"});}
        );
    $( ".project-icon" ).hover(
        function() {$(".icon-card-text").stop().animate({"opacity":"1"});},
        function() {$(".icon-card-text").stop().animate({"opacity":"0"});}
        );
    $( ".project-icon" ).hover(
        function() {$(".icon-card-text").text( toolText );}
        );
<!--*Hero**Contact*-->
    $( ".contact-icon" ).hover(
        function() {$(".hero-profile-card").stop().animate({"top":"140px"});},
        function() {$(".hero-profile-card").stop().animate({"top":"0"});}
        );
    $( ".contact-icon" ).hover(
        function() {$(".hero-icon-card").stop().animate({"bottom":"140px"});},
        function() {$(".hero-icon-card").stop().animate({"bottom":"0"});}
        );
    $( ".contact-icon" ).hover(
        function() {$(".profile-card-text").stop().animate({"opacity":"0"});},
        function() {$(".profile-card-text").stop().animate({"opacity":"1"});}
        );
    $( ".contact-icon" ).hover(
        function() {$(".icon-card-text").stop().animate({"opacity":"1"});},
        function() {$(".icon-card-text").stop().animate({"opacity":"0"});}
        );
    $( ".contact-icon" ).hover(
        function() {$(".icon-card-text").text( contactText );}
        );

<!--***** Skill *****-->
<!--*Python**Skill*-->
<!--vline-->
    $( ".python-logo" ).hover(function() {$(".python-card").stop().delay(150).animate({"top":"225px"});},
        );
<!--h5-->
    $( ".python-logo" ).hover(function() {$(".python-card-h4").stop().delay(100).css({"display":"block"});},
        );
    $( ".python-logo" ).hover(function() {$(".python-card-h4").stop().delay(100).animate({"opacity":"1"});},
        );
<!--p1-->
    $( ".python-logo" ).hover(function() {$(".python-card-p1").stop().delay(175).css({"display":"block"});},
        );
    $( ".python-logo" ).hover(function() {$(".python-card-p1").stop().delay(175).animate({"opacity":"1"});},
        );
<!--p2-->
    $( ".python-logo" ).hover(function() {$(".python-card-p2").stop().delay(250).css({"display":"block"});},
        );
    $( ".python-logo" ).hover(function() {$(".python-card-p2").stop().delay(250).animate({"opacity":"1"});},
        );
<!--p3-->
    $( ".python-logo" ).hover(function() {$(".python-card-p3").stop().delay(325).css({"display":"block"});},
        );
    $( ".python-logo" ).hover(function() {$(".python-card-p3").stop().delay(325).animate({"opacity":"1"});},
        );
<!--p4-->
    $( ".python-logo" ).hover(function() {$(".python-card-p4").stop().delay(400).css({"display":"block"});},
        );
    $( ".python-logo" ).hover(function() {$(".python-card-p4").stop().delay(400).animate({"opacity":"1"});},
        );

<!--*HTML**Skill*-->
<!--vline-->
    $( ".html-logo" ).hover(function() {$(".html-card").stop().delay(150).animate({"top":"225px"});},
        );
<!--h5-->
    $( ".html-logo" ).hover(function() {$(".html-card-h4").stop().delay(100).css({"display":"block"});},
        );
    $( ".html-logo" ).hover(function() {$(".html-card-h4").stop().delay(100).animate({"opacity":"1"});},
        );
<!--p1-->
    $( ".html-logo" ).hover(function() {$(".html-card-p1").stop().delay(175).css({"display":"block"});},
        );
    $( ".html-logo" ).hover(function() {$(".html-card-p1").stop().delay(175).animate({"opacity":"1"});},
        );
<!--p2-->
    $( ".html-logo" ).hover(function() {$(".html-card-p2").stop().delay(250).css({"display":"block"});},
        );
    $( ".html-logo" ).hover(function() {$(".html-card-p2").stop().delay(250).animate({"opacity":"1"});},
        );
<!--p3-->
    $( ".html-logo" ).hover(function() {$(".html-card-p3").stop().delay(325).css({"display":"block"});},
        );
    $( ".html-logo" ).hover(function() {$(".html-card-p3").stop().delay(325).animate({"opacity":"1"});},
        );
<!--p4-->
    $( ".html-logo" ).hover(function() {$(".html-card-p4").stop().delay(400).css({"display":"block"});},
        );
    $( ".html-logo" ).hover(function() {$(".html-card-p4").stop().delay(400).animate({"opacity":"1"});},
        );

<!--*CSS**Skill*-->
<!--vline-->
    $( ".css-logo" ).hover(function() {$(".css-card").stop().delay(150).animate({"top":"225px"});},
        );
<!--h5-->
    $( ".css-logo" ).hover(function() {$(".css-card-h4").stop().delay(100).css({"display":"block"});},
        );
    $( ".css-logo" ).hover(function() {$(".css-card-h4").stop().delay(100).animate({"opacity":"1"});},
        );
<!--p1-->
    $( ".css-logo" ).hover(function() {$(".css-card-p1").stop().delay(175).css({"display":"block"});},
        );
    $( ".css-logo" ).hover(function() {$(".css-card-p1").stop().delay(175).animate({"opacity":"1"});},
        );
<!--p2-->
    $( ".css-logo" ).hover(function() {$(".css-card-p2").stop().delay(250).css({"display":"block"});},
        );
    $( ".css-logo" ).hover(function() {$(".css-card-p2").stop().delay(250).animate({"opacity":"1"});},
        );
<!--p3-->
    $( ".css-logo" ).hover(function() {$(".css-card-p3").stop().delay(325).css({"display":"block"});},
        );
    $( ".css-logo" ).hover(function() {$(".css-card-p3").stop().delay(325).animate({"opacity":"1"});},
        );
<!--p4-->
    $( ".css-logo" ).hover(function() {$(".css-card-p4").stop().delay(400).css({"display":"block"});},
        );
    $( ".css-logo" ).hover(function() {$(".css-card-p4").stop().delay(400).animate({"opacity":"1"});},
        );





</script>


{% endblock %}
