{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<section class="home-section">

    {% for news in all_news %}

    <div class="container card-container">
        <div class="row justify-content-center card-items">
            <div class="news-card col-lg-4 col-md-8 col-sm-10">
                <div class="card shadow news-card">
                    <div class="card-body">
                        <p class="card-text news-title">{{ news[0] }}</p>
                        <p class="card-text news-author"><small>{{ news[2] }} - {{ news[3] }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</section>
{% endblock %}
