{% extends "base.html" %}

{% block title %}
Info
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<section class="bakery-section">
    <div class="bakery-container">
        
        {% include "bakery/side_panel.html" %}
        <div class="info-content">
            <input type="checkbox" id="toggle-top-panel" style="display: none;">
            <label class="programs-link" for="toggle-top-panel">Programs</label>

                {% include "bakery/top_panel.html" %}

            
            <div class="top-info">
                <img class="bakery-image" 
                     src="{{ url_for("static", filename=bakery_item.image) }}" 
                     alt="Bakery image"
                     style="width: 100%; height: 100%;"> 

                <div class="main-info">
                    <div class="health-container">
                        <img class="health-info" src="{{ url_for("static", filename="images/bakery/health/" + "nutri_" + bakery_item.nutri_score + ".png") }}" alt="Nutri image">
                        <img class="health-info" src="{{ url_for("static", filename="images/bakery/health/" + ("vegan.png" if bakery_item.vegan else "not_vegan.png")) }}" alt="Vegan image">
                        <img class="health-info" src="{{ url_for("static", filename="images/bakery/health/" + ("lactose.png" if bakery_item.lactose_free else "not_lactose.png")) }}" alt="Lactose image">
                    </div>
                    <div class="item-container">
                        <p class="item-info">{{ bakery_item.name }}</p>
                        <p class="item-info">{{ " ".join(bakery_item.type.split("-")) }}</p>
                        <p class="item-info">{{ bakery_item.nasa }}</p>
                        <p class="item-info">€ {{ bakery_item.price }}</p>
                    </div>
                </div>
            </div>

            <div class="bakery-devider"> 
            </div>
            
            <div class="bottom-info">
                <div class="bottom-info-duo">
                    <p class="item-label item-info">Baking surface: </p>
                    <p class="item-info">{{ bakery_item.rack_type }}</p>
                </div>

                <div class="bottom-info-duo">
                    <p class="item-label item-info">Quantity per surface: </p>
                    <p class="item-info">{{ bakery_item.per_rack }}</p>

                </div>

                <div class="bottom-info-duo">
                    <p class="item-label item-info">Defrost time: </p>
                    <p class="item-info">{{ bakery_item.defrost_time }}</p>

                </div>

                <div class="bottom-info-duo">
                    <p class="item-label item-info">Cooldown time: </p>
                    <p class="item-info">{{ bakery_item.cooldown_time }}</p>

                </div>

                <!-- <div class="bottom-info-duo">

                </div> -->

                <!-- <div class="bottom-info-duo">

                </div>

                <div class="bottom-info-duo">

                </div>

                <div class="bottom-info-duo">

                </div>

                <div class="bottom-info-duo">

                </div>


            </div>

        </div>        
    </div>
</section>
{% endblock %}

