{% extends "base.html" %}

{% block scripts %}
<link rel="preload" href="{{ url_for("static", filename="dist/programs_css.min.css") }}" as="style" onload="this.rel='stylesheet'">
{% endblock %}

{% block title %}
Programs
{% endblock %}

{% block content %}

    <div class="side-panel">
        <ul class="side-panel-list">
            <li><p class="side-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=1) }}">Program 1</a></p></li>
            <li><p class="side-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=2) }}">Program 2</a></p></li>
            <li><p class="side-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=3) }}">Program 3</a></p></li>
            <li><p class="side-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=4) }}">Program 4</a></p></li>
            <li><p class="side-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=5) }}">Program 5</a></p></li>
            <li><p class="side-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=6) }}">Program 6</a></p></li>
            <li><p class="side-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=7) }}">Program 7</a></p></li>
            <li><p class="side-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=8) }}">Program 8</a></p></li>
            <li><p class="side-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=9) }}">Program 9</a></p></li>
            <li><p class="side-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=13) }}">Program 13</a></p></li>
            <li><p class="side-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=15) }}">Program 15</a></p></li>
        </ul>
    </div>
    
    <!-- Content -->
    <div class="main-content">
        <input type="checkbox" id="toggle-top-panel" style="display: none;">
        <label class="side-panel-link"
                for="toggle-top-panel" 
                onclick="toggleTopPanel()">Programs</label>
        <div class="top-panel" id="top-panel" style="display: none;">
            <div class="top-panel-list">
                <div class="top-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=1) }}">Program 1</a></div>
                <div class="top-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=2) }}">Program 2</a></div>
                <div class="top-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=3) }}">Program 3</a></div>
                <div class="top-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=4) }}">Program 4</a></div>
                <div class="top-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=5) }}">Program 5</a></div>
                <div class="top-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=6) }}">Program 6</a></div>
                <div class="top-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=7) }}">Program 7</a></div>
                <div class="top-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=8) }}">Program 8</a></div>
                <div class="top-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=9) }}">Program 9</a></div>
                <div class="top-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=13) }}">Program 13</a></div>
                <div class="top-panel-item"><a href="{{ url_for(REDIRECT.PROGRAM, program=15) }}">Program 15</a></div>
            </div>
        </div>
        
        <!-- Programs grid -->
        <div class="programs-content blur-target">
            <div class="image-grid">
                {% for item in bakery_items_dicts %}
                <div class="grid-item">
                    <!-- Delete button -->
                    {% if is_admin %}
                    <a class="item-delete-link outline-bottom" href="{{ url_for(REDIRECT.DELETE_BAKERY, id_=item.id) }}" onclick="confirmDeletion(event, this.href)">
                        <img class="item-delete-icon" src="{{ url_for("static",
                                                           filename="images/delete_icon.png") }}" 
                                                           alt="Delete" 
                                                           type="image/png">
                    </a>
                    {% endif %}
                    <!-- Clickable items -->
                    <a href="{{ url_for(REDIRECT.INFO,
                        id_=item.id) }}">
                        <p class="item-name">{{ item.name }}</p>
                        <img class="grid-item-image" 
                                src="{{ url_for("static", 
                                filename=item.image) }}" 
                                alt="{{ item.name }}"
                                type="image/png">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        
{% endblock %}
