{% extends "base.html" %}

{% block scripts %}
<link rel="stylesheet" href="{{ url_for("static", filename="dist/programs_css.min.css") }}">
{% endblock %}

{% block title %}
Programs
{% endblock %}

{% block content %}
<section class="main-section">
    <div class="main-wrapper">

        <div class="side-panel">
            <ul class="side-panel-list">
                <li><p class="side-panel-item"><a href="{{ url_for("bakery.program", program=1) }}">Program 1</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for("bakery.program", program=2) }}">Program 2</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for("bakery.program", program=3) }}">Program 3</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for("bakery.program", program=4) }}">Program 4</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for("bakery.program", program=5) }}">Program 5</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for("bakery.program", program=6) }}">Program 6</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for("bakery.program", program=7) }}">Program 7</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for("bakery.program", program=8) }}">Program 8</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for("bakery.program", program=9) }}">Program 9</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for("bakery.program", program=13) }}">Program 13</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for("bakery.program", program=15) }}">Program 15</a></p></li>
            </ul>
        </div>
        
        <!-- Content -->
        <div class="main-content">
            <input type="checkbox" id="toggle-top-panel" style="display: none;">
            <label class="side-panel-link" for="toggle-top-panel">Programs</label>

            <div class="top-panel">
                <div class="top-panel-list">
                    <div class="top-panel-item"><a href="{{ url_for("bakery.program", program=1) }}">Program 1</a></div>
                    <div class="top-panel-item"><a href="{{ url_for("bakery.program", program=2) }}">Program 2</a></div>
                    <div class="top-panel-item"><a href="{{ url_for("bakery.program", program=3) }}">Program 3</a></div>
                    <div class="top-panel-item"><a href="{{ url_for("bakery.program", program=4) }}">Program 4</a></div>
                    <div class="top-panel-item"><a href="{{ url_for("bakery.program", program=5) }}">Program 5</a></div>
                    <div class="top-panel-item"><a href="{{ url_for("bakery.program", program=6) }}">Program 6</a></div>
                    <div class="top-panel-item"><a href="{{ url_for("bakery.program", program=7) }}">Program 7</a></div>
                    <div class="top-panel-item"><a href="{{ url_for("bakery.program", program=8) }}">Program 8</a></div>
                    <div class="top-panel-item"><a href="{{ url_for("bakery.program", program=9) }}">Program 9</a></div>
                    <div class="top-panel-item"><a href="{{ url_for("bakery.program", program=13) }}">Program 13</a></div>
                    <div class="top-panel-item"><a href="{{ url_for("bakery.program", program=15) }}">Program 15</a></div>
                </div>
            </div>
            
            <!-- Programs grid -->
            <div class="programs-content">
                <div class="image-grid">
                    <!-- Clickable items -->
                    {% for item in bakery_items_dicts %}
                    <div class="grid-item">
                        <a href="{{ url_for("bakery.info", id_=item.id) }}">
                            <p class="item-name">{{ item.name }}</p>
                            <img class="grid-item-image" 
                                 src="{{ url_for("static", filename=item.image) }}" 
                                 alt="Bakery image">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        
    </div>
</section>
{% endblock %}
