{% extends "base.html" %}

{% block title %}
Programs
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<section class="bakery-section">
    <div class="bakery-container">

        <div class="side-panel">
            <ul class="side-panel-list">
                <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=1) }}">Program 1</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=2) }}">Program 2</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=3) }}">Program 3</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=4) }}">Program 4</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=5) }}">Program 5</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=6) }}">Program 6</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=7) }}">Program 7</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=8) }}">Program 8</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=9) }}">Program 9</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=13) }}">Program 13</a></p></li>
                <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=15) }}">Program 15</a></p></li>
            </ul>
        </div>
        
        <div class="bakery-content">
            <div class="image-grid">
                {% for image in bakery_images %}
                    <div class="grid-item">
                        <picture>
                            <source srcset="{{ url_for("static", filename=image.replace("400.png", "50.png")) }}" media="(max-width: 400px)">
                            <source srcset="{{ url_for("static", filename=image.replace("400.png", "100.png")) }}" media="(max-width: 600px)">
                            <source srcset="{{ url_for("static", filename=image.replace("400.png", "200.png")) }}" media="(max-width: 800px)">
                            <source srcset="{{ url_for("static", filename=image.replace("400.png", "300.png")) }}" media="(max-width: 1000px)">
                            <img class="bakery-image" 
                                 src="{{ url_for("static", filename=image) }}" 
                                 alt="Bakery Item">
                        </picture>
                    </div>
                    {% if loop.index % 4 == 0 %}
                        </div><div class="image-grid">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
    </div>
</section>
{% endblock %}
