<div class="side-panel">
    <ul class="side-panel-list">
        <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=1) }}">Program 1</a></p></li>
        <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=2) }}">Program 2</a></p></li>
        <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=3) }}">Program 3</a></p></li>
        <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=4) }}">Program 4</a></p></li>
        <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=5) }}">Program 5</a></p></li>
        <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=6) }}">Program 6</a></p></li>
        <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=7) }}">Program 7</a></p></li>
        <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=8) }}">Program 8</a></p></li>
        <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=9) }}">Program 9</a></p></li>
        <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=13) }}">Program 13</a></p></li>
        <li><p class="side-panel-item"><a href="{{ url_for('bakery.program', program=15) }}">Program 15</a></p></li>
    </ul>
</div>
