{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
<section class="main-section">
    <div class="main-wrapper">
        
        {% include "admin/side_panel.html" %}
        
        <div class="main-content">
            <input type="checkbox" id="toggle-top-panel" style="display: none;">
            <label class="side-panel-link" for="toggle-top-panel">Admin</label>

            {% include "admin/top_panel.html" %}
            
            {% block admin_content %}
            {% endblock %}
        </div>        

    </div>
</section>

<script>
    document.querySelectorAll(".top-panel a").forEach(link => {
        link.addEventListener("click", () => {
            document.getElementById("toggle-top-panel").checked = false;
        });
    });
</script>
{% endblock %}
