<div id="authentication-wrapper" class="authentication-wrapper">
    <!-- Authentication flash messages -->
    {% if flash_type == "authentication" and get_flashed_messages() %}
        <div class="admin-flash" id="authentication-flash">
            <p>{{ get_flashed_messages()[0] }}</p>
        </div>
    {% endif %} 

    <!-- Authentication form -->
    <div class="admin-form-wrapper">
        <p class="admin-form-header">Authentication</p>
        <form method="POST" 
              action="{{ url_for(REDIRECT.USER_ADMIN, _anchor='authentication-wrapper') }}" 
              novalidate 
              class="admin-form" 
              enctype="multipart/form-data">

            <div class="form-item">
                <div class="input-error-wrapper">
                    {{ authentication_form.username(
                        class="main-input-field" + (" ph_red_color" if authentication_errors["username"] else ""), 
                        placeholder=username_ph) }}
                    {% if authentication_errors["username"] %}
                        <div class="admin-form-error"><strong>{{ authentication_errors["username"][0] }}</strong></div>
                    {% endif %}
                    <div class="admin-form-label">{{ authentication_form.username.label }}</div>
                </div>
            </div>

            <div class="form-item">
                <div class="input-error-wrapper">
                    {{ authentication_form.email(
                        class="main-input-field" + (" ph_red_color" if authentication_errors["email"] else ""),
                        placeholder=email_ph) }}
                    {% if authentication_errors["email"] %}
                        <div class="admin-form-error"><strong>{{ authentication_errors["email"][0] }}</strong></div>
                    {% endif %}
                    <div class="admin-form-label">{{ authentication_form.email.label }}</div>
                </div>
            </div>

            <div class="form-item">
                <div class="input-error-wrapper">
                    {{ authentication_form.password(class="main-input-field") }}
                    {% if authentication_errors["password"] %}
                        <div class="admin-form-error"><strong>{{ authentication_errors["password"][0] }}</strong></div>
                    {% endif %}
                    <div class="admin-form-label">{{ authentication_form.password.label }}</div>
                </div>
            </div>

            <div class="form-item">
                <div class="input-error-wrapper">
                    {{ authentication_form.confirm_password(class="main-input-field") }}
                    {% if authentication_errors["confirm_password"] %}
                        <div class="admin-form-error"><strong>{{ authentication_errors["confirm_password"][0] }}</strong></div>
                    {% endif %}
                    <div class="admin-form-label">{{ authentication_form.confirm_password.label }}</div>
                </div>
            </div>

            <div class="form-item">
                <div class="input-error-wrapper">
                    {{ authentication_form.fast_name(
                        class="main-input-field" + (" ph_red_color" if authentication_errors["fast_name"] else ""),
                        placeholder=fast_name_ph) }}
                    {% if authentication_errors["fast_name"] %}
                        <div class="admin-form-error"><strong>{{ authentication_errors["fast_name"][0] }}</strong></div>
                        {% endif %}
                    <div class="admin-form-label">{{ authentication_form.fast_name.label }}</div>
                </div>
            </div>

            <div class="form-item last-form-item">
                <div class="input-error-wrapper">
                    {{ authentication_form.fast_code(class="main-input-field", placeholder="[ ••••• ]" if current_user.fast_code else "") }}
                    {% if authentication_errors["fast_code"] %}
                        <div class="admin-form-error"><strong>{{ authentication_errors["fast_code"][0] }}</strong></div>
                    {% endif %}
                    <div class="admin-form-label">{{ authentication_form.fast_code.label }}</div>
                </div>
            </div>
            {{ authentication_form.form_type }}
            {{ authentication_form.hidden_tag() }}
            <div class="admin-devider"> 
                {{ authentication_form.submit(class="admin-btn", disabled=not email_verified) }}
            </div>
        </form>
    </div>
</div>