{% extends "admin/admin_base.html" %}

{% block admin_content %}
<form method="POST" action="" novalidate class="auth-form">
    {{ verify_email_form.hidden_tag() }}
    <!-------- Email or username -------->
    <div class="form-item last-form-item">
        <div class="input-error-container">
            {{ verify_email_form.email(class="auth-input-field") }}
            {% if form_errors["email"] %}
                <div class="auth-form-error"><strong>{{ form_errors["email"][0] }}</strong></div>
            {% endif %}
        </div>
    </div>
    <!-------- Form type -------->
    {{ verify_email_form.form_type }}
    <!-------- Submit -------->
    <div class="auth-devider"> 
        {{ verify_email_form.submit(class="btn auth-btn") }}
    </div>
</form>
{% endblock %}