<div class="side-panel">
    <ul class="side-panel-list">
        <li><p class="side-panel-item" data-target="authentication-wrapper">Authentication</p></li>
        <li><p class="side-panel-item" data-target="profile-wrapper">Profile</p></li>
        <li><p class="side-panel-item" data-target="notifications-wrapper">Notifications</p></li>
        <li><p class="side-panel-item" data-target="settings-wrapper">Settings</p></li>
        {% set roles = current_user.roles.split("|") %}
            <p class="admin-panel-label">Admin Panel</p>
            <li><p class="side-panel-item admin-panel-item" data-target="add-news-wrapper">
                <a href="{{ url_for("admin.add_news") }}">Add News</a>
            </p></li>
    </ul>
</div>
