<div class="top-panel" id="top-panel" style="display: none;">
    <div class="top-panel-list">
        <li><p class="top-panel-item"><a href="#authentication-wrapper">Authentication</a></p></li>
        <li><p class="top-panel-item"><a href="#profile-wrapper">Profile</a></p></li>
        <li><p class="top-panel-item"><a href="#notifications-wrapper">Notifications</a></p></li>
        <li><p class="top-panel-item"><a href="#access-wrapper">Access</a></p></li>
        {% if is_admin %}
            <p class="admin-panel-label admin-panel-label-top">Admin Panel</p>
            <li><p class="top-panel-item admin-panel-item">
                <a href="{{ url_for("news.add") }}">Add News</a>
            </p></li>
            <li><p class="top-panel-item admin-panel-item">
                <a href="{{ url_for("news.delete") }}">Delete News</a>
            </p></li>
        {% endif %}
    </div>
</div>
