{% extends "admin/admin_base.html" %}

<!--  Variables  -->
 {% set email_verified = current_user.email_verified %}
 {% set email = current_user.email %}
 {% set new_email = current_user.new_email %}
 {% set username = current_user.username %}
 {% set fast_name = current_user.fast_name %}
 {% set display_name = current_user.display_name %}
 {% set country = current_user.country %}
 {% set profile_icon = current_user.profile_icon %}
 {% set profile_picture = current_user.profile_picture %}
 {% set about_me = current_user.about_me %}

{% set username_ph = " [ " ~ username ~ " ]" %}
{% set email_ph = " [ " ~ email ~ " ]" %}
{% set fast_name_ph = " [ " ~ fast_name ~ " ]" if fast_name else "" %}
{% set display_name_ph = " [ " ~ display_name ~ " ]" if display_name else "" %}
{% set country_ph = " [ " ~ country ~ " ]" if country else "" %}
{% set about_me_ph = " [ " ~ about_me ~ " ]" if about_me else "" %}

{% set file_name = "[ Select file ]" if not profile_picture else (profile_picture[:25] + ".." if profile_picture|length > 27 else profile_picture) %}

{% block scripts %}
<link rel="stylesheet" href="{{ url_for("static", filename="dist/admin_css.min.css") }}">
{% endblock %}


{% block title %}
User Admin
{% endblock %}

{% block admin_content %}
<div class="admin-content">

    <!-- Display verification message if email is not verified -->
    {% if not email_verified %}
    <div class="verify-wrapper">
        <!-- Verification flash messages -->
        {% if flash_type == "verify" and get_flashed_messages() %}
            <div class="admin-flash">
                <p>{{ get_flashed_messages()[0] }}</p>
            </div>
        {% endif %} 
        <div class="verify-content">
            <p class="verify-header">Verify your email before access</p>
            <p class="verify-info">If you used an invalid email address, you can change it here.</p>
        </div>

        <!-- Verify email form -->
        <div class="verify-form-wrapper">
            <form method="POST" action="" novalidate class="verify-form">

                <div class="form-item last-form-item">
                    <div class="input-error-wrapper">
                        {{ verify_email_form.email(class="admin-input-field", placeholder=email) }}
                        {% if verify_email_errors["email"] %}
                            <div class="admin-form-error"><strong>{{ verify_email_errors["email"][0] }}</strong></div>
                        {% endif %}
                        <div class="admin-form-label">{{ verify_email_form.email.label }}</div>
                    </div>
                </div>
                {{ verify_email_form.form_type }}
                {{ verify_email_form.hidden_tag() }}
                <div class="admin-devider"> 
                    {{ verify_email_form.submit(class="admin-btn") }}
                </div>
            </form>
        </div>
    </div>
    {% endif %}

    <!-- Blurr content if email is not verified -->
    <div class="admin-forms-wrapper {% if not email_verified %}blur{% endif %}">
        <div class="admin-forms-content">

            <div id="authentication-wrapper" class="authentication-wrapper">
                <!-- Authentication flash messages -->
                {% if flash_type == "authentication" and get_flashed_messages() %}
                    <div class="admin-flash" id="authentication-flash">
                        <p>{{ get_flashed_messages()[0] }}</p>
                    </div>
                {% endif %} 

                <!-- Authentication form -->
                <div class="admin-form-wrapper">
                    <p class="admin-form-header">Authentication</p>
                    <form method="POST" action="" novalidate class="admin-form" enctype="multipart/form-data">

                        <div class="form-item">
                            <div class="input-error-wrapper">
                                {{ authentication_form.username(
                                    class="admin-input-field" + (" ph_red_color" if authentication_errors["username"] else ""), 
                                    placeholder=username_ph) }}
                                {% if authentication_errors["username"] %}
                                    <div class="admin-form-error"><strong>{{ authentication_errors["username"][0] }}</strong></div>
                                {% endif %}
                                <div class="admin-form-label">{{ authentication_form.username.label }}</div>
                            </div>
                        </div>

                        <div class="form-item">
                            <div class="input-error-wrapper">
                                {{ authentication_form.email(
                                    class="admin-input-field" + (" ph_red_color" if authentication_errors["email"] else ""),
                                    placeholder=email_ph) }}
                                {% if authentication_errors["email"] %}
                                    <div class="admin-form-error"><strong>{{ authentication_errors["email"][0] }}</strong></div>
                                {% endif %}
                                <div class="admin-form-label">{{ authentication_form.email.label }}</div>
                            </div>
                        </div>

                        <div class="form-item">
                            <div class="input-error-wrapper">
                                {{ authentication_form.password(class="admin-input-field") }}
                                {% if authentication_errors["password"] %}
                                    <div class="admin-form-error"><strong>{{ authentication_errors["password"][0] }}</strong></div>
                                {% endif %}
                                <div class="admin-form-label">{{ authentication_form.password.label }}</div>
                            </div>
                        </div>

                        <div class="form-item">
                            <div class="input-error-wrapper">
                                {{ authentication_form.confirm_password(class="admin-input-field") }}
                                {% if authentication_errors["confirm_password"] %}
                                    <div class="admin-form-error"><strong>{{ authentication_errors["confirm_password"][0] }}</strong></div>
                                {% endif %}
                                <div class="admin-form-label">{{ authentication_form.confirm_password.label }}</div>
                            </div>
                        </div>

                        <div class="form-item">
                            <div class="input-error-wrapper">
                                {{ authentication_form.fast_name(
                                    class="admin-input-field" + (" ph_red_color" if authentication_errors["fast_name"] else ""),
                                    placeholder=fast_name_ph) }}
                                {% if authentication_errors["fast_name"] %}
                                    <div class="admin-form-error"><strong>{{ authentication_errors["fast_name"][0] }}</strong></div>
                                    {% endif %}
                                <div class="admin-form-label">{{ authentication_form.fast_name.label }}</div>
                            </div>
                        </div>

                        <div class="form-item last-form-item">
                            <div class="input-error-wrapper">
                                {{ authentication_form.fast_code(class="admin-input-field") }}
                                {% if authentication_errors["fast_code"] %}
                                    <div class="admin-form-error"><strong>{{ authentication_errors["fast_code"][0] }}</strong></div>
                                {% endif %}
                                <div class="admin-form-label">{{ authentication_form.fast_code.label }}</div>
                            </div>
                        </div>
                        {{ authentication_form.form_type }}
                        {{ authentication_form.hidden_tag() }}
                        <div class="admin-devider"> 
                            {{ authentication_form.submit(class="admin-btn", disabled=not email_verified) }}
                        </div>
                    </form>
                </div>
            </div>

            <!-- Profile flash messages -->
            <div id="profile-wrapper" class="profile-wrapper">
                {% if flash_type == "profile" and get_flashed_messages() %}
                    <div class="admin-flash">
                        <p>{{ get_flashed_messages()[0] }}</p>
                    </div>
                {% endif %} 

                <!-- Profile form -->
                <div class="admin-form-wrapper">
                    <p class="admin-form-header">Profile</p>
                    <form method="POST" action="" novalidate class="admin-form" enctype="multipart/form-data">
                        
                        <div class="form-item">
                            <div class="input-error-wrapper">
                                {{ profile_form.display_name(
                                    class="admin-input-field" + (" ph_red_color" if profile_errors["display_name"] else ""),
                                    placeholder=display_name_ph) }}
                                {% if profile_errors["display_name"] %}
                                    <div class="admin-form-error"><strong>{{ profile_errors["display_name"][0] }}</strong></div>
                                {% endif %}
                                <div class="admin-form-label">{{ profile_form.display_name.label }}</div>
                            </div>
                        </div>

                        <div class="form-item" style="margin-bottom: 43px;">
                            <div class="input-error-wrapper">
                                {{ profile_form.country(
                                    class="admin-input-field country-select-field" + (" ph_red_color" if profile_errors["country"] else ""),
                                    placeholder=country_ph) }}
                                {% if profile_errors["country"] %}
                                    <div class="admin-form-error"><strong>{{ profile_errors["country"][0] }}</strong></div>
                                {% endif %}
                                <div class="admin-form-label more-top">{{ profile_form.country.label }}</div>
                            </div>
                        </div>
                        
                        <!-- Profile icons -->
                        <div class="form-item">
                            <div class="input-error-wrapper profile-icon-field outline-bottom">
                                <div class="admin-form-label profile-icon-label">{{ profile_form.profile_icon.label }}</div>
                                <div class="profile-icon-wrapper">

                                    <a href="{{ url_for("admin.profile_icon", filename="baguette1.png") }}">
                                        <img class="profile-icon-img {% if profile_icon == "baguette1.png" %}selected-profile-icon{% endif %}"
                                                src="{{ url_for("profile_icons_folder", filename="baguette1.png") }}">
                                    </a>
                                    <a href="{{ url_for("admin.profile_icon", filename="bread1.png") }}">
                                        <img class="profile-icon-img {% if profile_icon == "bread1.png" %}selected-profile-icon{% endif %}"
                                                src="{{ url_for("profile_icons_folder", filename="bread1.png") }}">
                                    </a>
                                    <a href="{{ url_for("admin.profile_icon", filename="bread2.png") }}">
                                        <img class="profile-icon-img {% if profile_icon == "bread2.png" %}selected-profile-icon{% endif %}"
                                                src="{{ url_for("profile_icons_folder", filename="bread2.png") }}">
                                    </a>
                                    <a href="{{ url_for("admin.profile_icon", filename="bread3.png") }}">
                                        <img class="profile-icon-img {% if profile_icon == "bread3.png" %}selected-profile-icon{% endif %}"
                                                src="{{ url_for("profile_icons_folder", filename="bread3.png") }}">
                                    </a>
                                    <a href="{{ url_for("admin.profile_icon", filename="cookie1.png") }}">
                                        <img class="profile-icon-img {% if profile_icon == "cookie1.png" %}selected-profile-icon{% endif %}"
                                                src="{{ url_for("profile_icons_folder", filename="cookie1.png") }}">
                                    </a>
                                    <a href="{{ url_for("admin.profile_icon", filename="croissant1.png") }}">
                                        <img class="profile-icon-img {% if profile_icon == "croissant1.png" %}selected-profile-icon{% endif %}"
                                                src="{{ url_for("profile_icons_folder", filename="croissant1.png") }}">
                                    </a>
                                    <a href="{{ url_for("admin.profile_icon", filename="donut1.png") }}">
                                        <img class="profile-icon-img {% if profile_icon == "donut1.png" %}selected-profile-icon{% endif %}"
                                                src="{{ url_for("profile_icons_folder", filename="donut1.png") }}">
                                    </a>
                                    <a href="{{ url_for("admin.profile_icon", filename="pie1.png") }}">
                                        <img class="profile-icon-img {% if profile_icon == "pie1.png" %}selected-profile-icon{% endif %}"
                                                src="{{ url_for("profile_icons_folder", filename="pie1.png") }}">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-item">
                            <div class="input-error-wrapper profile-picture-field outline-bottom">
                                <label for="profile_picture" class="{% if file_name == '[ Select file ]' %} profile-picture-label {% else %} profile-picture-text {% endif %}">
                                    <span id="file-name-placeholder">{{ file_name }}</span>
                                </label>
                                {{ profile_form.profile_picture(class="admin-input-field", id="profile_picture") }}
                                {% if profile_errors["profile_picture"] %}
                                    <div class="admin-form-error"><strong>{{ profile_errors["profile_picture"][0] }}</strong></div>
                                {% endif %}
                                <div class="admin-form-label">{{ profile_form.profile_picture.label }}</div>
                            </div>
                        </div>

                        {% if profile_picture %}
                            <div class="profile-pic-div">
                                <img class="profile-pic-img" src="{{ url_for("profile_picture_folder", filename=profile_picture) }}">
                            </div>
                        {% endif %}
                        
                        <div class="form-item last-form-item">
                            <div class="input-error-wrapper">
                                {{ profile_form.about_me(class="admin-input-field", placeholder=about_me_ph) }}
                                {% if profile_errors["about_me"] %}
                                    <div class="admin-form-error"><strong>{{ profile_errors["about_me"][0] }}</strong></div>
                                    {% endif %}
                                <div class="admin-form-label about-me-label">{{ profile_form.about_me.label }}</div>
                            </div>
                        </div>
                        {{ profile_form.form_type }}
                        {{ profile_form.hidden_tag() }}
                        <div class="admin-devider"> 
                            {{ profile_form.submit(class="admin-btn", disabled=not email_verified) }}
                        </div>
                    </form>
                </div>
            </div>

            <!-- Notifications flash messages -->
            <div id="notifications-wrapper" class="notifications-wrapper">
                {% if flash_type == "notifications" and get_flashed_messages() %}
                    <div class="admin-flash">
                        <p>{{ get_flashed_messages()[0] }}</p>
                    </div>
                {% endif %} 

                <!-- Notifications form -->
                <div class="admin-form-wrapper">
                    <p class="admin-form-header smaller-padding">Notification settings</p>
                    <form method="POST" action="" novalidate class="admin-form" enctype="multipart/form-data">
                        
                        <div class="form-item notification-item-wrapper">
                            <div class="notification-item-flex">
                                <label class="custom-checkbox-wrapper">
                                    {{ notification_settings_form.news_notifications(class="custom-checkbox") }}
                                    <span class="custom-checkbox-box"></span>
                                    
                                </label>
                            </div>
                        </div>
                        
                        <div class="form-item notification-item-wrapper">
                            <div class="notification-item-flex">
                                <label class="custom-checkbox-wrapper">
                                    {{ notification_settings_form.comment_notifications(class="custom-checkbox") }}
                                    <span class="custom-checkbox-box"></span>
                                    <span class="notification-label {% if comment_notifications %}notification-label-checked{% endif %}">
                                        [ {{ notification_settings_form.comment_notifications.label }} ]
                                    </span>
                                </label>
                            </div>
                        </div>
                
                        <div class="form-item last-form-item notification-item-wrapper">
                            <div class="notification-item-flex">
                                <label class="custom-checkbox-wrapper">
                                    {{ notification_settings_form.bakery_notifications(class="custom-checkbox") }}
                                    <span class="custom-checkbox-box"></span>
                                    <span class="notification-label {% if bakery_notifications %}notification-label-checked{% endif %}">
                                        [ {{ notification_settings_form.bakery_notifications.label }} ]
                                    </span>
                                </label>
                            </div>
                        </div>
                
                        {{ notification_settings_form.form_type }}
                        {{ notification_settings_form.hidden_tag() }}
                        <div class="admin-devider"> 
                            {{ notification_settings_form.submit(class="admin-btn", disabled=not email_verified) }}
                        </div>
                    </form>

                    
                </div>
            </div>

            <!-- Settings flash messages -->
            <div id="settings-wrapper" class="settings-wrapper">
                {% if flash_type == "settings" and get_flashed_messages() %}
                    <div class="admin-flash">
                        <p>{{ get_flashed_messages()[0] }}</p>
                    </div>
                {% endif %} 

                <!-- Settings form -->
                <div class="admin-form-wrapper">
                    <p class="admin-form-header">Settings</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const profilePictureInput = document.getElementById("profile_picture");
        const fileNamePlaceholder = document.getElementById("file-name-placeholder");

        profilePictureInput.addEventListener("change", function() {
            if (profilePictureInput.files.length > 0) {
                fileNamePlaceholder.textContent = profilePictureInput.files[0].name;
            } else {
                fileNamePlaceholder.textContent = "Choose file";
            }
        });
    });
</script>
{% endblock %}