{% extends "auth_base.html" %}

{% block auth_title %}
Login2
{% endblock %}

{% block auth_scripts %}
{% endblock %}

{% block auth_content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="login-section">

    <!-- ********** Login ********** -->
    <div class="login-container">
        <div class="side-panel">
            <ul class="side-panel-list">
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign up</a></li>
                <li><a href="#">Forgot email</a></li>
                <li><a href="#">Forgot username</a></li>
                <li><a href="#">Forgot password</a></li>
                <li><a href="#">Login with Google</a></li>
                <li><a href="#">Program 7</a></li>
            </ul>
        </div>
        <div class="login-content">
            <!-- Content goes here -->    
        </div>
    </div>
</section>
{% endblock %}
