{% extends "auth_base.html" %}

{% block auth_title %}
Login
{% endblock %}

{% block auth_scripts %}
{% endblock %}

{% block auth_content %}
<section class="auth-section">
    <div class="auth-wrapper">
        <div class="auth-content">

            <!-- Flashed messages -->
            {% if not fast %}
                {% if get_flashed_messages() %}
                    <div class="auth-flash">
                        <p>{{ get_flashed_messages()[0] }}</p>
                    </div>
                {% endif %}
            {% endif %}

            <!-- Login form -->
            <form method="POST" action="" novalidate class="auth-form">

                <div class="form-item">
                    <div class="input-error-wrapper">
                        {{ login_form.email_or_uname(class="auth-input-field" + (" ph_red_color" if form_errors["email_or_uname"] else "")) }}
                        {% if login_form.errors["email_or_uname"] %}
                            <div class="auth-form-error"><strong>{{ login_form.errors["email_or_uname"][0] }}</strong></div>
                        {% endif %}
                        <div class="auth-form-label">{{ login_form.email_or_uname.label }}</div>
                    </div>
                </div>

                <div class="form-item">
                    <div class="input-error-wrapper">
                        {{ login_form.password(class="auth-input-field" + (" ph_red_color" if form_errors["password"] else "")) }}
                        {% if login_form.errors["password"] %}
                            <div class="auth-form-error"><strong>{{ login_form.errors["password"][0] }}</strong></div>
                        {% endif %}
                        <div class="auth-form-label">{{ login_form.password.label }}</div>
                    </div>
                </div>

                <div class="form-item last-form-item remember-devider">
                    <div class="notification-item-flex">
                        <label class="custom-checkbox-wrapper">
                            {{ login_form.remember(class="custom-checkbox") }}
                            <span class="small-checkbox-box"></span>
                            <span class="notification-label">{{ login_form.remember.label }}
                            </span>
                        </label>
                    </div>
                </div>

                {{ login_form.form_type }}
                {{ login_form.hidden_tag() }}
                <div class="auth-devider"> 
                    {{ login_form.submit(class="auth-btn") }}
                </div>
            </form>

            <!-- Auth options -->
            <div class="auth-options-wrapper">
                <div><p class="auth-options-content"><a href="{{ url_for(REDIRECT.REGISTER) }}">Register a new account</a></p></div>
                <div><p class="auth-options-content"><a href="{{ url_for(REDIRECT.REQUEST_RESET) }}">Reset your password</a></p></div>
                <div><p class="auth-options-content"><a href="{{ url_for(REDIRECT.G_LOGIN) }}">Login with Google</a></p></div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
