{% extends "auth_base.html" %}

{% block auth_title %}
Login
{% endblock %}

{% block auth_scripts %}
{% endblock %}

{% block auth_content %}
<section class="auth-section">
    <div class="auth-container">
        <div class="auth-content">

            <!-------- Flashed messages -------->
            {% if get_flashed_messages() %}
            <div class="auth-flash">
                <p>{{ get_flashed_messages()[0] }}</p>
            </div>
            {% endif %}

            <!-------- Login form -------->
            <form method="POST" action="" novalidate class="auth-form">
                
                <div class="form-item">
                    <div class="input-error-container">
                        {{ login_form.email_or_uname(class="auth-input-field") }}
                        {% if login_form.errors["email_or_uname"] %}
                            <div class="auth-form-error"><strong>{{ login_form.errors["email_or_uname"][0] }}</strong></div>
                        {% endif %}
                        <div class="auth-form-label">{{ login_form.email_or_uname.label }}</div>
                    </div>
                </div>

                <div class="form-item">
                    <div class="input-error-container">
                        {{ login_form.password(class="auth-input-field") }}
                        {% if login_form.errors["password"] %}
                            <div class="auth-form-error"><strong>{{ login_form.errors["password"][0] }}</strong></div>
                        {% endif %}
                        <div class="auth-form-label">{{ login_form.password.label }}</div>
                    </div>
                </div>

                <div class="form-item last-form-item remember-devider">
                    {{ login_form.remember(class="remember-me") }}
                    {{ login_form.remember.label(class="remember-me") }}
                </div>

                {{ login_form.form_type }}
                {{ login_form.hidden_tag() }}
                <div class="auth-devider"> 
                    {{ login_form.submit(class="auth-btn") }}
                </div>
            </form>

            <!-------- Auth options -------->
            <div class="auth-options-container">
                <div><p class="auth-options-content"><a href="{{ url_for("auth.register") }}">Register a new account</a></p></div>
                <div><p class="auth-options-content"><a href="{{ url_for("auth.request_reset") }}">Reset your password</a></p></div>
                <div><p class="auth-options-content"><a href="{{ url_for("auth.g_login") }}">Login with Google</a></p></div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
