{% extends "auth_base.html" %}

{% block auth_title %}
Login2
{% endblock %}

{% block auth_scripts %}
{% endblock %}

{% block auth_content %}

<section class="login-section">
    <div class="login-container">

        <!-------- Login content -------->
        <div class="login-content">
            <!-------- Flashed messages -------->
            {% if not fast %}
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-secondary mt-3 mb-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <!-------- Login form -------->
            <form method="POST" action="" novalidate class="login-form">
                {{ login_form.hidden_tag() }}
                
                <!-------- Email or username -------->
                {% for error in login_form.errors["email_or_uname"] %}
                    <p class="form-error"><strong>{{ error }}</strong></p>
                {% endfor %}
                <div class="form-item">
                    {{ login_form.email_or_uname(class="auth_input_field") }}
                </div>

                <!-------- Password -------->   
                {% for error in login_form.errors["password"] %}
                    <p class="form-error"><strong>{{ error }}</strong></p>
                {% endfor %}
                <div class="form-item">
                {{ login_form.password(class="auth_input_field") }}
                </div>

                <!-------- Login type -------->
                
                <!-------- Remember me and Submit -------->
                
                <div class="form-item remember-devider">
                    {{ login_form.remember(class="remember-me") }}
                    {{ login_form.remember.label(class="remember-me") }}
                </div>
                <div class="form-item login-devider"> 
                    {{ login_form.form_type }}
                    {{ login_form.submit(class="btn login-btn") }}
                </div>


            </form>

            <!-------- Additional options -------->
            <div class="login-options-container">
                <div><p class="login-options-content">Reset your password</p></div>
                <div><p class="login-options-content">Register a new account</p></div>
                <div><p class="login-options-content">Login via Google</p></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
