{% extends "auth_base.html" %}

{% block auth_title %}
Register
{% endblock %}

{% block auth_scripts %}
{% endblock %}

{% block auth_content %}

<section class="auth-section">
    <div class="auth-container">
        <div class="auth-content">
            <!-------- Flashed messages -------->
            {% if not fast %}
                    {% for message in get_flashed_messages() %}
                    <div class="auth_flash">
                        <p>{{ message }}</p>
                    </div>
                    {% endfor %}
            {% endif %}

            <!-------- Login form -------->
            <form method="POST" action="" novalidate class="auth-form">
                {{ register_form.hidden_tag() }}
                <!-------- Email -------->
                <div class="form-item">
                    <div class="input-error-container">
                        {{ register_form.email(class="auth_input_field") }}
                        {% if form_errors["email"] %}
                            <div class="form-error"><strong>{{ form_errors["email"][0] }}</strong></div>
                        {% endif %}
                    </div>
                </div>
                <!-------- Username -------->   
                <div class="form-item">
                    <div class="input-error-container">
                        {{ register_form.username(class="auth_input_field") }}
                        {% if form_errors["username"] %}
                            <div class="form-error"><strong>{{ form_errors["username"][0] }}</strong></div>
                        {% endif %}
                    </div>
                </div>
                <!-------- Password -------->   
                <div class="form-item">
                    <div class="input-error-container">
                        {{ register_form.password(class="auth_input_field") }}
                        {% if form_errors["password"] %}
                            <div class="form-error"><strong>{{ form_errors["password"][0] }}</strong></div>
                        {% endif %}
                    </div>
                </div>
                <!-------- Password2 -------->   
                <div class="form-item last-form-item">
                    <div class="input-error-container">
                        {{ register_form.password2(class="auth_input_field") }}
                        {% if form_errors["password2"] %}
                            <div class="form-error"><strong>{{ form_errors["password2"][0] }}</strong></div>
                        {% endif %}
                    </div>
                </div>
                <!-------- Form type -------->
                {{ register_form.form_type }}
                <!-------- Submit -------->
                <div class="auth-devider"> 
                    {{ register_form.submit(class="btn auth-btn") }}
                </div>
            </form>

            <!-------- Auth options -------->
            <div class="auth-options-container">
                <div><p class="auth-options-content"><a href="{{ url_for('auth.login') }}">Back to login</a></p></div>
                <div><p class="auth-options-content"><a href="{{ url_for('auth.g_login') }}">Login with Google</a></p></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
