{% extends "auth_base.html" %}

{% block auth_title %}
Request reset
{% endblock %}

{% block auth_scripts %}
{% endblock %}

{% block auth_content %}
<section class="auth-section">
    <div class="auth-wrapper">
        <div class="auth-content">

            <!-- Flashed messages -->
            {% if not fast %}
                {% if get_flashed_messages() %}
                    <div class="auth-flash">
                        <p>{{ get_flashed_messages()[0] }}</p>
                    </div>
                {% endif %}
            {% endif %}

            <!-- Request reset form -->
            <form method="POST" action="" novalidate class="auth-form">
                
                <div class="form-item last-form-item">
                    <div class="input-error-wrapper">
                        {{ request_reset_form.email(class="auth-input-field" + (" ph_red_color" if form_errors["email"] else "")) }}
                        {% if form_errors["email"] %}
                            <div class="auth-form-error"><strong>{{ form_errors["email"][0] }}</strong></div>
                        {% endif %}
                        <div class="auth-form-label">{{ request_reset_form.email.label }}</div>
                    </div>
                </div>

                {{ request_reset_form.form_type }}
                {{ request_reset_form.hidden_tag() }}
                <div class="auth-devider"> 
                    {{ request_reset_form.submit(class="auth-btn") }}
                </div>
            </form>

            <!-- Auth options -->
            <div class="auth-options-wrapper">
                <div><p class="auth-options-content"><a href="{{ url_for(REDIRECT.LOGIN) }}">Back to login</a></p></div>
                <div><p class="auth-options-content"><a href="{{ url_for(REDIRECT.G_LOGIN) }}">Login with Google</a></p></div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
