{% extends "auth_base.html" %}

{% block auth_title %}
Request reset
{% endblock %}

{% block auth_scripts %}
{% endblock %}

{% block auth_content %}

<section class="auth-section">
    <div class="auth-container">
        <div class="auth-content">
            <!-------- Flashed messages -------->
            {% if not fast %}
                {% for message in get_flashed_messages() %}
                <div class="auth_flash">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            {% endif %}

            <!-------- Login form -------->
            <form method="POST" action="" novalidate class="auth-form">
                {{ request_reset_form.hidden_tag() }}
                <!-------- Email or username -------->
                {% if request_reset_form.errors["email"] %}
                    <p class="form-error"><strong>{{ request_reset_form.errors["email"][0] }}</strong></p>
                {% endif %}
                <div class="form-item last-form-item">
                    {{ request_reset_form.email(class="auth_input_field") }}
                </div>
                <!-------- Form type -------->
                {{ request_reset_form.form_type }}
                <!-------- Submit -------->
                <div class="auth-devider"> 
                    {{ request_reset_form.submit(class="btn auth-btn") }}
                </div>
            </form>

            <!-------- Auth options -------->
            <div class="auth-options-container">
                <div><p class="auth-options-content"><a href="{{ url_for('auth.login') }}">Back to login</a></p></div>
                <div><p class="auth-options-content"><a href="{{ url_for('auth.g_login') }}">Login with Google</a></p></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
