{% extends "auth_base.html" %}

{% block auth_title %}
Request reset
{% endblock %}

{% block auth_scripts %}
{% endblock %}

{% block auth_content %}

<section class="auth-section">
    <div class="auth-container">
        <div class="auth-content">
            <!-------- Flashed messages -------->
            {% if not fast %}
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-secondary mt-3 mb-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <!-------- Login form -------->
            <form method="POST" action="" novalidate class="auth-form">
                {{ email_form.hidden_tag() }}
                <!-------- Email or username -------->
                {% for error in email_form.errors["email"] %}
                    <p class="form-error"><strong>{{ error }}</strong></p>
                {% endfor %}
                <div class="form-item last-form-item">
                    {{ email_form.email(class="auth_input_field") }}
                </div>
                <!-------- Form type -------->
                {{ email_form.form_type }}
                <!-------- Submit -------->
                <div class="auth-devider"> 
                    {{ email_form.submit(class="btn auth-btn") }}
                </div>
            </form>

            <!-------- Auth options -------->
            <div class="auth-options-container">
                <div><p class="auth-options-content">Reset your password</p></div>
                <div><p class="auth-options-content">Register a new account</p></div>
                <div><p class="auth-options-content">Login via Google</p></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
