{% extends "auth_base.html" %}

{% block auth_title %}
Reset password
{% endblock %}

{% block auth_scripts %}
{% endblock %}

{% block auth_content %}
<section class="auth-section">
    <div class="auth-container">
        <div class="auth-content">

            <!-------- Flashed messages -------->
            {% if not fast %}
                {% for message in get_flashed_messages() %}
                <div class="auth-flash">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            {% endif %}

            <!-------- Reset password form -------->
            <form method="POST" action="" novalidate class="auth-form">
                
                <div class="form-item">
                    <div class="input-error-container">
                        {{ reset_password_form.password(class="auth-input-field") }}
                        {% if form_errors["password"] %}
                            <div class="auth-form-error"><strong>{{ form_errors["password"][0] }}</strong></div>
                        {% endif %}
                        <div class="auth-form-label">{{ reset_password_form.password.label }}</div>
                    </div>
                </div>

                <div class="form-item last-form-item">
                    <div class="input-error-container">
                        {{ reset_password_form.confirm_password(class="auth-input-field") }}
                        {% if form_errors["confirm_password"] %}
                            <div class="auth-form-error"><strong>{{ form_errors["confirm_password"][0] }}</strong></div>
                        {% endif %}
                        <div class="auth-form-label">{{ reset_password_form.confirm_password.label }}</div>
                    </div>
                </div>

                {{ reset_password_form.form_type }}
                {{ reset_password_form.hidden_tag() }}
                <div class="auth-devider"> 
                    {{ reset_password_form.submit(class="auth-btn") }}
                </div>
            </form>

            <!-------- Auth options -------->
            <div class="auth-options-container">
                <div><p class="auth-options-content"><a href="{{ url_for("auth.login") }}">Back to login</a></p></div>
                <div><p class="auth-options-content"><a href="{{ url_for("auth.register") }}">Register a new account</a></p></div>
                <div><p class="auth-options-content"><a href="{{ url_for("auth.g_login") }}">Login with Google</a></p></div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
