{% extends "auth_base.html" %}

{% block auth_title %}
Set password
{% endblock %}

{% block auth_scripts %}
{% endblock %}

{% block auth_content %}

<section class="auth-section">
    <div class="auth-container">
        <div class="auth-content">
            <!-------- Flashed messages -------->
            {% if not fast %}
                {% for message in get_flashed_messages() %}
                <div class="auth_flash">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            {% endif %}

            <!-------- Login form -------->
            <form method="POST" action="" novalidate class="auth-form">
                {{ set_password_form.hidden_tag() }}
                <!-------- Password -------->
                {% if set_password_form.errors["password"] %}
                    <p class="form-error"><strong>{{ set_password_form.errors["password"][0] }}</strong></p>
                {% endif %}
                <div class="form-item">
                    {{ set_password_form.password(class="auth_input_field") }}
                </div>
                <!-------- Password2 -------->   
                {% if set_password_form.errors["password2"] %}
                    <p class="form-error"><strong>{{ set_password_form.errors["password2"][0] }}</strong></p>
                {% endif %}
                <div class="form-item last-form-item">
                {{ set_password_form.password2(class="auth_input_field") }}
                </div>
                <!-------- Form type -------->
                {{ set_password_form.form_type }}
                <!-------- Submit -------->
                <div class="auth-devider"> 
                    {{ set_password_form.submit(class="btn auth-btn") }}
                </div>
            </form>

            <!-------- Auth options -------->
            <div class="auth-options-container">
                <div><p class="auth-options-content"><a href="{{ url_for('auth.login') }}">Cancel registration</a></p></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
