{% set max_quarter = 4 * 15 %}

{% if schedule %}
<div class="day-schedule-header">
    {% if may_prev %}
        <a href="{{ url_for('schedule.personal', date=schedule['date'], sub=True) }}" class="day-schedule-button">
            <<
        </a>
    {% endif %}
    <p class="day-schedule-title">
        
            {{ schedule["day"] }} {{ schedule["date"] }}
    </p>
    {% if may_next %}
        <a href="{{ url_for('schedule.personal', date=schedule['date'], add=True) }}" class="day-schedule-button">
            >>
        </a>
    {% endif %}
</div>

<div class="day-content" style="position: relative;">
    <table class="day-table">
        <tr class="time-row">
            <th colspan="4" class="time">06</th>
            <th colspan="4" class="time">07</th>
            <th colspan="4" class="time">08</th>
            <th colspan="4" class="time">09</th>
            <th colspan="4" class="time">10</th>
            <th colspan="4" class="time">11</th>
            <th colspan="4" class="time">12</th>
            <th colspan="4" class="time">13</th>
            <th colspan="4" class="time">14</th>
            <th colspan="4" class="time">15</th>
            <th colspan="4" class="time">16</th>
            <th colspan="4" class="time">17</th>
            <th colspan="4" class="time">18</th>
            <th colspan="4" class="time">19</th>
            <th colspan="4" class="time">20</th>
        </tr>

        {% for i in range(schedule["names"]|length) %}
            <tr class="person-row">
                {% for quarter in range(max_quarter) %}
                    <td class="quarter {{ quarter }} {% if schedule['starts'][i] <= quarter < schedule['ends'][i] %}{% if current_user.employee_name == schedule['names'][i] %}user-on-duty{% else %}on-duty{% endif %}{% endif %}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% for name in schedule["names"] %}
        {% if schedule['ends'][loop.index - 1] - schedule['starts'][loop.index - 1] >= 8 %}
            <p class="name start-time" id="start-time-{{ loop.index - 1 }}" style="position: absolute; top: {{ 22 + 20 * (loop.index - 1) }}px; left: calc((100% / {{ max_quarter }}) * {{ schedule['starts'][loop.index - 1] + 1 }});">{{ schedule['start_hours'][loop.index - 1] }}</p>
            <p class="name end-time" id="end-time-{{ loop.index - 1 }}" style="position: absolute; top: {{ 22 + 20 * (loop.index - 1) }}px;">{{ schedule['end_hours'][loop.index - 1] }}</p>
        {% endif %}
        {% if schedule['ends'][loop.index - 1] - schedule['starts'][loop.index - 1] < 8 %}
            <p class="name second" id="name-{{ loop.index - 1 }}" style="position: absolute; top: {{ 22 + 20 * (loop.index - 1) }}px; left: calc((100% / {{ max_quarter }}) * {{ (schedule['starts'][loop.index - 1] + schedule['ends'][loop.index - 1] - 3) / 2 }});">{{ schedule["names"][loop.index - 1] }}</p>
        {% else %}
            <p class="name second" id="name-{{ loop.index - 1 }}" style="position: absolute; top: {{ 22 + 20 * (loop.index - 1) }}px;">{{ schedule["names"][loop.index - 1] }}</p>
        {% endif %}
    {% endfor %}
</div>
{% else %}
    <p class="day-schedule-title">Schedule not found</p>
{% endif %}

<style>
{% for name in schedule['names'] %}

    #name-{{ loop.index - 1 }} {
        left: calc((100% / {{ max_quarter }}) * {{ (schedule['starts'][loop.index - 1] + schedule['ends'][loop.index - 1] - 1) / 2 }});
    }

    #end-time-{{ loop.index - 1 }} {
        left: calc((100% / {{ max_quarter + 1 }}) * {{ schedule['ends'][loop.index - 1] - 2 }});
    }

    @media (max-width: 500px) {
        #name-{{ loop.index - 1 }} {
            left: calc(-50px + (100% / {{ max_quarter }}) * {{ (schedule['starts'][loop.index - 1] + schedule['ends'][loop.index - 1] - 1) / 2 }});
        }
    }

    @media (min-width: 500px) and (max-width: 800px) {
        #name-{{ loop.index - 1 }} {
            left: calc((100% / {{ max_quarter }}) * {{ (schedule['starts'][loop.index - 1] + schedule['ends'][loop.index - 1] - 1) / 2 }} - 5%);
        }

        #end-time-{{ loop.index - 1 }} {
            left: calc((100% / {{ max_quarter + 1 }}) * {{ schedule['ends'][loop.index - 1] - 2 }} - 5%);
        }
    }

    @media (min-width: 800px) and (max-width: 1200px) {
        #name-{{ loop.index - 1 }} {
            left: calc((100% / {{ max_quarter }}) * {{ (schedule['starts'][loop.index - 1] + schedule['ends'][loop.index - 1] - 1) / 2 }} - 2%);
        }

        #end-time-{{ loop.index - 1 }} {
            left: calc((100% / {{ max_quarter + 1 }}) * {{ schedule['ends'][loop.index - 1] - 2 }} - 2%);
        }
    }
{% endfor %}
</style>