{% extends "schedule/schedule_base.html" %}

{% set max_quarter = 4 * 15 %}

{% block title %}
    Today
{% endblock %}

{% block scripts %}
<link rel="preload"
      href="{{ url_for("static",
      filename="dist/personal_css.min.css") }}" 
      as="style" 
      onload="this.rel='stylesheet'">
{% endblock %}

{% block schedule_content %}
<div class="schedule-wrapper">
    
    {% if get_flashed_messages() %}
        <div class="schedule-flash">
            <p>{{ get_flashed_messages()[0] }}</p>
        </div>
    {% endif %}

    <div class="personal-content">
        {% for week_dicts in personal_schedule_dicts %}
            <p class="week-number">
                Week {{ week_dicts[0]["week_number"] }} {% if week_dicts[0]["week_number"] == current_week_num %} [ current ] {% endif %}
            </p>
            <p class="week-hours">
                {{ personal_hours_per_week[loop.index - 1] }} hrs
            </p>
            <div class="week-content">
                <table class="week-table">
                    <tr class="time-row">
                        <th colspan="4" class="time">06</th>
                        <th colspan="4" class="time">07</th>
                        <th colspan="4" class="time">08</th>
                        <th colspan="4" class="time">09</th>
                        <th colspan="4" class="time">10</th>
                        <th colspan="4" class="time">11</th>
                        <th colspan="4" class="time">12</th>
                        <th colspan="4" class="time">13</th>
                        <th colspan="4" class="time">14</th>
                        <th colspan="4" class="time">15</th>
                        <th colspan="4" class="time">16</th>
                        <th colspan="4" class="time">17</th>
                        <th colspan="4" class="time">18</th>
                        <th colspan="4" class="time">19</th>
                        <th colspan="4" class="time">20</th>
                    </tr>

                    {% for week_dict in week_dicts %}
                        <tr class="person-row">

                            {% for quarter in range(max_quarter) %}
                                {% if week_dict["start"] is not none %}
                                    <td class="quarter {{ quarter }} {% if week_dict["start"] <= quarter < week_dict["end"] %}user-on-duty{% endif %}"></td>
                                {% else %}
                                    <td class="quarter"></td>
                                {% endif %}
                            {% endfor %}
                            <p class="personal-name" style="position: absolute; top: {{ 22 + 20 * (loop.index - 1) }}px; left: -30px;">{{ week_dict["day"][0] }}</p>
                        </tr>

                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
