.navbar-section {
    padding-top: 25px;
    background-color: var(--gray1);
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-wrapper {
    width: calc(100% - 2*var(--navbar-padding));
    padding: var(--navbar-padding-inside);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--gray3);
    background-color: var(--gray2);
}

.profile-image {
    transition: filter 0.3s ease-in-out;
}

.profile-image:hover {
    filter: brightness(2);
    transition: filter 0.3s ease-in-out;
}

.navbar-links {
    gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: var(--text-color);
    font-size: var(--nav-link-size);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-decoration-color: var(--white-0);
    transition: color 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;
}

.nav-link:hover {
    text-decoration-color: var(--white-100);
    color: var(--white-100);
    transition: color 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;
}

.logout {
    color: var(--text-color);
    font-size: var(--nav-link-size);
    margin-left: 10px;
}

.navbar-s-wrapper {
    display: none;
    width: calc(100% - 2*var(--navbar-padding));
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--gray3);
    z-index: 100;
}

.navbar-s-menu {
    padding: var(--navbar-padding-inside);
}

.navbar-s-link {
    width: 100%;
    height: 100%;
    display: none;
    background-color: var(--s-menu-color);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    font-size: var(--side-panel-size);
    color: var(--text-color);
    user-select: none;
    transition: color 0.3s ease-in-out;
}

.navbar-s-link:hover {
    background-color: var(--s-menu-color-hover);
    color: var(--white-100);
}

.s-profile-image {
    padding: 12px calc(50% - 16px) 6px calc(50% - 16px);
}

.s-link {
    width: 100%;
    height: 100%;
    padding: var(--navbar-padding-inside);
}

.navbar-s-menu::before {
    content: var(--arrow-down); 
    margin-right: 15px;
    opacity: 0.6;
}

.navbar-s-menu::after {
    content: var(--arrow-down); 
    margin-left: 15px;
    opacity: 0.6;
}

.navbar-s-content {
    display: none;
    width: calc(100% - 2*var(--navbar-padding));
    position: absolute;
    left: var(--navbar-padding);
    border-bottom: 1px solid var(--gray3);
    border-left: 1px solid var(--gray3);
    border-right: 1px solid var(--gray3);
    background-color: var(--gray2);
}

.nav-hr {
    opacity: 1;
    background-color: var(--gray3);
    border: none;
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
}

#toggle-navbar-s:checked + .navbar-s-link + .navbar-s-content {
    display: block;
}

#toggle-navbar-s:checked + .navbar-s-link {
    background-color: var(--s-menu-color-hover);
}

#toggle-navbar-s:checked + .navbar-s-link::before {
    content: var(--arrow-up);
}

#toggle-navbar-s:checked + .navbar-s-link::after {
    content: var(--arrow-up);
}

@media (max-width: 474.98px) {
    .navbar-wrapper {
        display: none;
    }
    .navbar-s-wrapper {
        display: block;
    }
    .navbar-s-link {
        display: block;
    }
    .navbar-s-link a {
        display: inline-block;
    }
}

@media (min-width: 475px) and (max-width: 767.98px) {
    .navbar-wrapper {
        display: none;
    }
    .navbar-s-wrapper {
        display: block;
    }
    .navbar-s-link {
        display: block;
    }
    .navbar-s-link a {
        display: inline-block;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}



.main-section {
    height: 100%;
    padding: 50px var(--navbar-padding);
    background-color: var(--gray1);
}

.main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid var(--gray3);
    background-color: var(--gray2);
}

.main-content {
    width: 100%;
    flex-grow: 1;
}

.side-panel {
    width: auto;
    max-width: 200px;
    display: inline-block;
    padding: 55px 40px;
    border-right: 1px solid var(--gray3);
    background-color: var(--gray2);
}

.side-panel-list {
    padding: 0;
    list-style: none;
}

.side-panel-item {
    position: relative;
    margin-bottom: 16px;
    display: inline-block;
    cursor: pointer;
    font-size: var(--side-panel-size);
    text-decoration: none;
    color: var(--text-color);
    white-space: nowrap;
    transition: color 0.3s ease-in-out;
}

.side-panel-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    right: 0;
    background-color: var(--text-color);
    transition: width 0.3s ease-in-out;
}

.side-panel-item:hover {
    color: var(--white-100);
    transition: color 0.3s ease-in-out;
}

.side-panel-item:hover::after {
    width: 100%;
    left: 0;
    right: auto;
    background-color: var(--text-color-hover);
}

.side-panel-link {
    display: none;
    padding: 15px 0;
    background-color: var(--s-menu-color);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    font-size: var(--side-panel-size);
    color: var(--text-color);
    user-select: none;
    transition: color 0.3s ease-in-out;
}

.side-panel-link:hover {
    background-color: var(--s-menu-color-hover);
    color: var(--white-100);
    transition: color 0.3s ease-in-out;
}

.side-panel-link::before {
    content: var(--arrow-down); 
    margin-right: 15px;
    opacity: 0.6;
}

.side-panel-link::after {
    content: var(--arrow-down); 
    margin-left: 15px;
    opacity: 0.6;
}

.top-panel {
    display: none;
    position: absolute;
    left: var(--navbar-padding);
    right: var(--navbar-padding);
    z-index: 10;
    border-bottom: 1px solid var(--gray3);
    border-left: 1px solid var(--gray3);
    border-right: 1px solid var(--gray3);
    background-color: var(--s-menu-color);
}

.top-panel-item {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    font-size: var(--top-panel-size);
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
    white-space: normal;
    word-break: keep-all;
    overflow-wrap: break-word;
    transition: color 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;
}

.top-panel-item:hover {
    color: var(--white-100);
}

.top-panel-item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-decoration: none;
    color: inherit;
}

.top-panel-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}


#toggle-top-panel:checked + .side-panel-link + .top-panel {
    display: block;
}

#toggle-top-panel:checked + .side-panel-link {
    background-color: var(--s-menu-color-hover);
}

#toggle-top-panel:checked + .side-panel-link::before {
    content: var(--arrow-up);
}

#toggle-top-panel:checked + .side-panel-link::after {
    content: var(--arrow-up);
}

@media (max-width: 474.98px) {
    /* .base-link {
        display: inline-block;
    } */
    .side-panel {
        display: none;
    }
    .side-panel-link {
        display: block;
    }
    .top-panel-item:nth-child(1) a,
    .top-panel-item:nth-child(2) a {
        padding-top: 30px;
    }
    .top-panel-item:nth-last-child(1) a {
        padding-bottom: 30px;
    }
}

@media (min-width: 475px) and (max-width: 767.98px) {
    .side-panel {
        display: none;
    }
    .side-panel-link {
        display: block;
    }
    .top-panel-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .top-panel-item:nth-child(1) a,
    .top-panel-item:nth-child(2) a,
    .top-panel-item:nth-child(3) a {
        padding-top: 30px;
    }
    .top-panel-item:nth-last-child(1) a,
    .top-panel-item:nth-last-child(2) a {
        padding-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .top-panel {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .top-panel {
        display: none;
    }
}

@media (min-width: 1200px) {
    .top-panel {
        display: none;
    }
}








.footer-section {
    background-color: var(--dark);
    width: 100%;
    padding: 25px 0;
}
.footer-section-wrapper {
    padding: 0 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-title {
    color: var(--light);
}

.footer-list {
    color: var(--light);
    font-size: var(--footer-link-size);
}

/* #toggle-top-panel:checked ~ .base-content,
#toggle-top-panel:checked ~ .admin-content {
    filter: blur(3px);
    transition: filter 0.2s ease-in-out;
}

#toggle-top-panel:not(:checked) ~ .base-content {
    filter: blur(0);
    transition: filter 0.2s ease-in-out;
}

#toggle-top-panel:checked ~ .top-info {
    filter: blur(3px);
    transition: filter 0.2s ease-in-out;
}

#toggle-top-panel:not(:checked) ~ .top-info {
    filter: blur(0);
    transition: filter 0.2s ease-in-out;
} */

#toggle-top-panel:checked:not(:checked) ~ .bottom-info,
#toggle-top-panel:checked:not(:checked) ~ .programs-content,
#toggle-top-panel:checked:not(:checked) ~ .admin-content,
#toggle-top-panel:checked:not(:checked) ~ .news-items-wrapper,
#toggle-top-panel:checked:not(:checked) ~ .news-content {
    filter: blur(0px);
}

#toggle-top-panel:checked ~ .bottom-info,
#toggle-top-panel:checked ~ .programs-content,
#toggle-top-panel:checked ~ .admin-content,
#toggle-top-panel:checked ~ .news-items-wrapper,
#toggle-top-panel:checked ~ .news-content {
    filter: blur(3px);
    transition: filter 0.2s ease-in-out;
}

/* #toggle-top-panel:not(:checked) ~ .bottom-info {
    filter: blur(0);
    transition: filter 0.2s ease-in-out;
}
 */
