/* ********** Variables ********** */
:root {
    --gray1: rgba(18, 18, 18, 1);
    --gray2: rgba(23, 23, 23, 1);
    --gray3: rgba(42, 45, 47, 1);
    --gray4: rgba(57, 62, 64, 1);
    --nav_text: rgba(160, 160, 160, 1);
    --nav_text_hover: rgba(200, 200, 200, 1);
}

/********* General settings *********/
* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2 rem;
}

h4 {
    font-size: 1.5rem;
}
/* ********** Navbar ********** */
#navbar-section {
    background-color: var(--gray2);
    padding: 10px 12%;
}
.navbar-collapse {
    justify-content: end;
}
.navbar-brand {
    color: var(--nav_text);
    font-size: 1.8rem;
}

.navbar-brand:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;  /* Increased from 5px to 8px */
    color: var(--nav_text_hover);
}

.nav-link {
    color: var(--nav_text);
    font-size: 1.2rem;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    color: var(--nav_text_hover);
}

#logout {
    color: var(--nav_text);
    font-size: 1.2rem;
}

.nav-item {
    margin-left: 10px;
}

.home-hr {
    opacity: 1;
    background-color: var(--gray3);
    border: none;
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
}

/* ********** Footer ********** */

#footer-section {
    background-color: var(--dark);
    width: 100%;
    padding: 25px 0;
}
.footer-section-container {
    padding: 0 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-title {
    color: var(--light);
}
.footer-list {
    color: var(--light);
    font-size: 0.8rem;
}

/* ********** Media ********** */
