.home-section {
    background-color: var(--gray1);
    height: 100vh;
}


.card-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.news-card {
    border-radius: 1rem;
    height: 100%;
    background-color: var(--gray3); /* Dark background color */
    color: #ffffff; /* White text color */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.news-title {
    text-align: center;
    margin-bottom: 1rem;
}

.news-author {
    text-align: right;
    color: #6c757d;
    margin-bottom: 0;
}
