.gradient-custom {
    background-image: url("/static/images/auth/login2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-height {
    min-height: 100vh;
}

.card-items {
    padding-top: 5%;
}

.fast-card-items {
    padding-top: 1%;
}

/* Adjust card width and make it responsive */
.card-container {
    max-width: 90%; /* Maximum width of the card */
    margin: auto; /* Center the card horizontally */
}

#login-card, #register-card {
    height: auto; /* Let the card height adjust based on content */
    display: inline-block;
    opacity: 1;
    transition: all 2s ease-in-out;
}

.card {
    border-radius: 1rem;
}

/* Adjust padding for card body */
.card-body {
    padding: 1rem; /* Default padding */
}

/* Ensure inputs do not exceed container width */
.form-control {
    width: 100%; /* Make input fit the container width */
    padding: 0.5rem; /* Adjust padding */
    margin-bottom: 0.5rem; /* Margin between inputs */
    box-sizing: border-box;
}

/* Adjust button font size */
.btn {
    font-size: 0.875rem; /* Default button font size */
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    .card-container {
        max-width: 70%; /* Make card container full width on mobile */
    }

    .card-body {
        padding: 0.5rem; /* Smaller padding on mobile */
    }

    .form-control {
        font-size: 0.75rem; /* Smaller font size on mobile */
    }

    .btn {
        font-size: 0.75rem; /* Smaller button font size on mobile */
    }
}

/* Ensure card and its contents fit well on smaller screens */
.card {
    width: 100%; /* Make card full width on smaller screens */
}

.form-control, .btn {
    width: 100%; /* Ensure input and button fit within card */
}
