/* ********** Variables ********** */
:root {
    --gray1: rgba(18, 18, 18, 1);
    --gray2: rgba(23, 23, 23, 1);
    --gray3: rgba(42, 45, 47, 1);
    --gray4: rgba(57, 62, 64, 1);

    --arrow-up: "\2191";
    --arrow-down: "\2193";

    --scroll-margin-100: 100px;
    --white-0: rgba(255, 255, 255, 0);
    --white-100: rgba(255, 255, 255, 1);
    --text-color: rgba(160, 160, 160, 1);
    --text-color-hover: rgba(200, 200, 200, 1);
    --label-color: rgba(120, 120, 120, 1);
    --label-color-darker: rgba(120, 120, 120, 0.7);
    --button-color: rgba(200, 200, 200, 1);
    --btn-text-size: 1.25rem;
    --input-color: rgba(200, 200, 200, 1);
    --input-color-hover: rgba(220, 220, 220, 1);

    --gray: var(--text-color); /* #a0a0a0 */
    --red: rgba(138, 0, 0, 1); /* #8a0000 */
    --orange: rgba(191, 83, 0, 1); /* #bf5300 */
    --blue: rgba(0, 0, 178, 1); /* #0000b2 */
    --green: rgba(20, 90, 0, 1); /* #135a00 */
    --red-border: rgba(138, 0, 0, 0.4); /* #8a0000 */
    --green-border: rgba(20, 90, 0, 0.4); /* #135a00 */

    --border-color: var(--gray3);
    --border-color-hover: rgba(255, 255, 255, 1);
    --bg-highlight: rgba(255, 255, 255, 0.03);
    --bg-highlight-hover: rgba(255, 255, 255, 0.05);
    
    --navbar-padding: 7%;
    --navbar-wrapper-padding: calc(2 * var(--navbar-padding));
    --navbar-padding-inside: 15px 55px 15px 55px;
    --nav-brand-size: 1.8rem;
    --nav-link-size: 1.2rem;
    --footer-link-size: 0.8rem;

    --s-menu-color: rgba(30, 30, 30, 1);
    --s-menu-color-hover: rgba(35, 35, 35, 1);

    --side-panel-size: 1.2rem;
    --side-panel-size-s: 1.1rem;
    --side-panel-size-xs: 1rem;
    --side-panel-title-size: 1.5rem;
    --side-panel-title-size-s: 1.3rem;
    --top-panel-size: 1.1rem;
    --top-panel-size-s: 1rem;
    --top-panel-size-xs: 0.9rem;
    --top-panel-title-size: 1.4rem;
    --top-panel-title-size-s: 1.2rem;

    --fast-form-size: 1.05rem;

    --auth-btn-text-size: 3.25rem;
    --auth-form-size: 1rem;
    --auth-flash-size: 1.1rem;
    --auth-form-error-size: 0.9rem;
    --auth-form-error-color: var(--label-color-darker);

    --admin-form-input-size: 1.1rem;
    --admin-form-input-size-s: 0.9rem;
    --admin-notification-label-size-s: 1rem;
    --admin-header-size: 1.3rem;
    --admin-form-error-size: 0.9rem;
    --admin-flash-size: 1.3rem;

    --news-title-size: 1.2rem;
    --news-info-size: 1.1rem;
    --news-author-size: 0.9rem;
    --news-table-size: 1rem;
    --news-wrapper-padding: 75px 12%;
    --news-padding: 0 60px;
    --news-padding-s: 0 30px;
    --all-news-important-padding: 6px 100px 40px 75px;
    --all-news-important-padding-s: 6px 15px 40px 15px;
    --news-important-padding: 50px 90px;
    --news-important-padding-s: 30px 60px;
    --news-important-padding-xs: 30px 30px;
    --news-gap: 40px;
    --post-comment-padding: 50px 50px 0 50px;
    --comment-wrapper-padding: 50px;
    --comment-wrapper-padding-s: 40px 0;
    --comment-padding: 50px;
    --comment-padding-s: 40px;

    --bakery-item-info-size: 1.1rem;
}

@custom-media --mobile (max-width: 474.98px);
@custom-media --tablet (min-width: 475px) and (max-width: 767.98px);
@custom-media --xl-tablet (min-width: 768px) and (max-width: 991.98px);
@custom-media --desktop (min-width: 992px) and (max-width: 1199.98px);
@custom-media --xl-desktop (min-width: 1200px);

@media (max-width: 474.98px) {
}

@media (min-width: 475px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}


/********* General settings *********/
.ph_red_color {
    color: var(--red)!important;
}

.break-words {
    white-space: normal;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.href-scroll {
    scroll-margin-top: 100px;
}

.blur {
    filter: blur(3px);
    transition: filter 0.2s ease-in-out;
}

.italic {
    font-style: italic;
}

.outline {
    border: 1px solid var(--gray3);
}

.outline-bottom {
    border-bottom: 1px solid var(--gray3);
}

.outline-right {
    border-right: 1px solid var(--gray3);
}

.outline-left {
    border-left: 1px solid var(--gray3);
}

.outline-top {
    border-top: 1px solid var(--gray3);
}

.outline-bot-right {
    border-right: 1px solid var(--gray3);
    border-bottom: 1px solid var(--gray3);
}

.outline-bot-left {
    border-left: 1px solid var(--gray3);
    border-bottom: 1px solid var(--gray3);
}

.outline-top-right {
    border-right: 1px solid var(--gray3);
    border-top: 1px solid var(--gray3);
}

.outline-top-left {
    border-left: 1px solid var(--gray3);
    border-top: 1px solid var(--gray3);
}

.base-section {
    min-height: 100vh;
}


* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}
a {
    text-decoration: none;
    color: inherit;
}
.a:hover {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.red {
    color: var(--red);
}

.orange {
    color: var(--orange);
}

.blue {
    color: var(--blue);
}
