.main-section {
    padding: 25px var(--navbar-padding) 50px var(--navbar-padding);
}

.day-schedule-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-schedule-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
}

.day-schedule-button {
    padding: 0 10px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
}

.day-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-content {
    width: 100vw;
    position: relative;
    margin-left: calc(-50vw + 50%);
    justify-content: center;
    align-items: center;
}

.day-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 25px 0;
    border: 1px solid var(--border-color);
}

.time-row {
    height: 20px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--gray4);
    color: var(--text-color);
}

.time {
    width: calc(100% / 17);
    padding: 0 0 0 0.3%;
    border-right: 1px solid var(--border-color);
    font-weight: 300;
    text-align: left;
}

.quarter {
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid var(--border-color);
}

.person-row {
    height: 20px;
    min-width: 100%;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--gray2);
}

.quarter:nth-child(4n) {
    border-right: 1px solid var(--border-color);
}

.quarter:last-child {
    border-right: none;
}

.on-duty {
    background-color: var(--green-dark);
}

.user-on-duty {
    background-color: var(--green-light);
}

.name {
    color: var(--text-color);
}


@media (max-width: 500px) {
    .main-section {
        padding-left: 0;
        padding-right: 0;
    }
    .schedule-content {
        padding-left: 0;
        padding-right: 0;
    }
    .week-table {
        border-left: none;
        border-right: none;
    }
    .week-number {
        padding: 0 0 0 10px;
    }
    .person-row:first-child {
        border-left: none;
    }
    .quarter:last-child {
        border-right: none;
    }
    .start-time {
        display: none;
    }
    .end-time {
        display: none;
    }
}

@media (min-width: 500.01px) and (max-width: 767.98px) {
    .schedule-content {
        padding-left: 0;
        padding-right: 0;
    }
    .week-table {
        border-left: none;
        border-right: none;
    }
    .week-number {
        padding: 0 0 0 10px;
    }
    .person-row:first-child {
        border-left: none;
    }
    .quarter:last-child {
        border-right: none;
    }
}
