.schedule-flash {
    padding: 40px 0 40px 0;
    font-style: italic;
}

.schedule-flash p {
    text-align: center;
    color: var(--text-color);
    font-size: var(--admin-flash-size);
}

.week-number {
    padding: 0 0 5px 0;
    font-size: var(--schedule-week-size);
    font-weight: 600;
    color: var(--text-color);
}

.schedule-content {
    padding: 75px 50px 50px 50px;
}

.personal-content {
    position: relative;
    padding: 0 0 40px 0;
}

.week-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 25px 0;
    border: 1px solid var(--border-color);
}

.personal-name {
    width: 25px;
    text-align: right;
    font-weight: 600;
    color: var(--text-color);
}

.admin-form-label {
    display: none;
}

.main-input-field:not(:placeholder-shown) + .admin-form-label {
    display: block;
}




.request-schedule-content {
    padding: 100px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--schedule-request-header-size);
    color: var(--text-color);
}

.request-schedule-header {
    padding: 0 0 60px 0;
}

.request-schedule-flash {
    padding: 0 0 40px 0;
    font-style: italic;
}

.request-schedule-flash p {
    margin: 0;
    text-align: center;
    color: var(--text-color);
    font-size: var(--admin-flash-size);
}


@media (max-width: 474.98px) {
    .request-schedule-content {
        padding: 75px 9%;
    }
}

@media (min-width: 475px) and (max-width: 767.98px) {
    .request-schedule-content {
        padding: 75px 9%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .request-schedule-content {
        padding: 100px 12%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
