.main-wrapper {
    flex-direction: column;
}

.error-content {
    padding: var(--error-content-padding);
    text-align: center;
    color: var(--text-color);
}

.error-header {
    padding: 75px 0;
}

.error-header p {
    padding: 0 0 15px 0;
}

.error-title {
    padding: 0 35px 0 0;
    font-size: var(--error-title-size);
}

.error-message {
    font-size: var(--error-info-size);
}

.error-links {
    padding: 50px 0;
}

.error-links p {
    padding: 0 0 2px 0;
}

.link {
    text-decoration: underline;
}

