.news-items-container {
    padding: 75px 12%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: var(--news-title-size);
    color: var(--text-color);
}

.no-news-container {
    padding: 75px;
}

.no-news {
    padding: 0 0 75px 0;
    text-align: center;
    font-weight: 600;
}

.news-item {
    width: 100%;
}

.news-header-container {
    display: flex;
    justify-content: space-between;
}

.news-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.news-code {
    width: 75px;
    padding: 15px 0;
    font-weight: 600;
    text-align: center;
}

.news-title {
    padding: 15px 0;
    margin: 0 auto;
    font-weight: 600;
}

.read-more-container {
    display: flex;
    align-items: center;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icon-count {
    margin-right: 10px;
    flex: 0 0 auto;
    text-align: right;
}

.news-icon {
    width: 16px;
    height: 16px;
}

.news-info {
    padding: 0 15px 0 0;
    color: var(--label-color);
}

.read-more {
    width: 100px;
    height: auto;
    border-bottom: 1px solid var(--gray3);
    border-left: 1px solid var(--gray3);
    text-align: center;
    transition: color 0.3s ease-in-out;
    user-select: none;
}

.read-more a {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
}

.read-more:hover {
    background-color: var(--bg-highlight-hover);
    color: var(--white-100);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.news-important {
    padding: 5px 100px 40px 75px;
    color: var(--text-color);
}

.news-date {
    padding: 25px 0 0 75px;
    font-size: calc(var(--news-author-size) - 0.15rem);
}


@media (max-width: 474.98px) {
    .news-header-container {
        display: block;
        padding: 0 0 40px 0;
    }
    .news-header {
        justify-content: flex-start;
        align-items: center;
    }
    .news-title {
        padding: 0 0 0 15px;
        margin: 0;
    }
    .read-more {
        order: 1;
        border-bottom: 1px solid var(--gray3);
        border-right: 1px solid var(--gray3);
    }
    .news-info {
        padding: 0 0 0 15px;
        order: 2;
    }
    .news-code {
        width: 100px;
    }
    .news-important {
        padding: 8px 15px 40px 15px;
    }
    .news-date {
        padding: 0 0 0 15px;
    }
}

@media (min-width: 475px) and (max-width: 767.98px) {
    .news-header-container {
        display: block;
        padding: 0 0 40px 0;
    }
    .news-header {
        justify-content: flex-start;
        align-items: center;
    }
    .news-title {
        padding: 0 0 0 15px;
        margin: 0;
    }
    .read-more {
        order: 1;
        border: none;
        border-bottom: 1px solid var(--gray3);
        border-right: 1px solid var(--gray3);
    }
    .news-info {
        padding: 0 0 0 15px;
        order: 2;
    }
    .news-code {
        width: 100px;
    }
    .news-important {
        padding: 5px 15px 40px 15px;
    }
    .news-date {
        padding: 0 0 0 15px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .news-header-container {
        display: block;
        padding: 0 0 40px 0;
    }
    .news-header {
        justify-content: flex-start;
        align-items: center;
    }
    .news-title {
        padding: 0 0 0 15px;
        margin: 0;
    }
    .read-more {
        order: 1;
        border: none;
        border-bottom: 1px solid var(--gray3);
        border-right: 1px solid var(--gray3);
    }
    .news-info {
        padding: 0 0 0 15px;
        order: 2;
    }
    .news-code {
        width: 100px;
    }
    .news-important {
        padding: 5px 15px 40px 15px;
    }
    .news-date {
        padding: 0 0 0 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1348.98px) {
}
