.news-flash {
    margin-bottom: var(--news-gap)
}

.comment-flash {
    padding-top: var(--news-gap);
    font-style: italic;
}

.comment-flash p {
    margin: 0;
    text-align: center;
    color: var(--text-color);
    font-size: var(--auth-flash-size);
}