{% extends "errors/error_base.html" %}

{% block error_content %}

<div class="error-header">
    <p class="error-title">400 Bad Request</p>

    <p class="error-message">{{ error_msg }}</p>

    {% if extra_info %}
        <p class="error-extra-info">{{ extra_info }}</p>
    {% endif %}
</div>

<div class="error-links">
    {% if go_to %}
        <p class="go-to">
            <a href="{{ go_to }}">
                <span class="link">Click here</span> to apply for access</a>
        </p>
    {% endif %}  

    <p class="referrer">
        <a href="javascript:history.back()">
            <span class="link">Go back</span> to the previous page</a>
    </p>

    <p class="contact">
        <a href="#">
            <span class="link">Contact us</span> to report any issues.
        </a>
    </p>
    
</div>

{% endblock %} 