{% extends "errors/error_base.html" %}

{% block error_content %}

<div class="error-header">
    <p class="error-title">400 Bad Request</p>

    <div class="error-message">
        <p class="message">{{ error_msg }}</p>
    </div>

    <p class="referrer">
        <a href="javascript:history.back()">
            <span style="text-decoration: underline;">Go back</span> to the previous page</a>
    </p>

    <p class="contact">
        <a href="#">Contact us</a> to report any issues.
    </p>
    
</div>

{% endblock %} 