.side-panel-title {
    padding: 0 0 25px 0;
    font-size: var(--side-panel-title-size);
    color: var(--text-color);
}


.side-panel-item {
    font-size: var(--side-panel-size-s);
}

.top-panel-item {
    font-size: var(--top-panel-size-s);
}


@media (max-width: 474.98px) {
}

@media (min-width: 475px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .side-panel-item {
        font-size: var(--side-panel-size-xs);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1348.98px) {
}
