.info-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.bakery-image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.bakery-image {
    width: 70%; /* Adjusted width to match inline style */
    height: auto;
    padding: 0; /* Removed padding to center the image */
}

.item-info {
    text-align: center; 
}

.extra-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}
