.programs-content {
    flex-grow: 1;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
    padding: 40px;
}

.grid-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--gray3);
    color: var(--bakery-text);
}

.grid-item a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.grid-item:hover {
    background-color: var(--bg-highlight);
}

.item-name {
    display: block;
    text-align: center;
    padding: 25px 25px 0 25px;
    font-weight: 600;
    font-size: var(--bakery_item_info_size);
}

.bakery-image {
    padding: 20px;

}
