.top-panel {
    padding: 20px 8% 0 8%;
}

.side-panel {
    padding: 0;;
}

.search-content {
    padding: 75px;
}

.search-header {
    padding: 0 0 10px 20px;
    margin: 35px 0 15px 0;
    font-size: var(--admin-header-size);
    color: var(--text-color);
}

.form-item {
    padding: 0 20px;
}

.admin-form-label {
    display: none;
}

.main-input-field:not(:placeholder-shown) + .admin-form-label {
    display: block;
}

.custom-checkbox-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 7px 0;
}

.medium-checkbox-box {
    margin: 0;
}

.lactose-label {
    padding: 0;
    font-size: calc(var(--admin-form-input-size) + 0.05rem);
    color: var(--label-color-darker);
}

.vegan-label {
    padding: 0;
    font-size: calc(var(--admin-form-input-size) + 0.05rem);
    color: var(--label-color-darker);
}

.nutri-label {
    font-size: calc(var(--admin-form-input-size) + 0.05rem);
    color: var(--label-color-darker);
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.nutri-select-field:focus {
    background-color: var(--gray2);
}

.reset-search-wrapper {
    width: 100%;
    background-color: var(--s-menu-color);
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: var(--side-panel-size);
    color: var(--text-color);
    user-select: none;
    transition: color 0.3s ease-in-out;
}

.reset-search-wrapper:hover {
    background-color: var(--s-menu-color-hover);
    color: var(--white-100);
    transition: color 0.3s ease-in-out;
}

.search-reset-wrapper {
    display: flex;
}

.reset-search-top {
    display: none;
}

.reset-search-btn {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0;
}

@media (max-width: 474.98px) {
    .reset-search-side {
        display: none;
    }
    .reset-search-top {
        display: block;
        margin: 0;
        border-left: 1px solid var(--gray3);
    }
    .form-item {
        margin-bottom: 18px;
    }
    .main-input-field,
    .notification-label {
        font-size: 0.95rem;
    }
    .lactose-label,
    .vegan-label {
        z-index: -1;
    }
}

@media (min-width: 475px) and (max-width: 767.98px) {
    .reset-search-side {
        display: none;
    }
    .reset-search-top {
        display: block;
        margin: 0;
        border-left: 1px solid var(--gray3);
    }
    
    .form-item {
        margin-bottom: 18px;
    }
    .main-input-field,
    .notification-label {
        font-size: 0.95rem;
    }
    .lactose-label,
    .vegan-label {
        z-index: -1;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}