.top-panel {
    padding: 20px 8% 0 8%;
}

.side-panel {
    padding: 55px 20px;
}
.search-content {
    padding: 75px;
}

.search-header {
    padding: 0 0 10px 0;
    font-size: var(--admin-header-size);
    color: var(--text-color);
}

.admin-form-label {
    display: none;
}

.admin-input-field:not(:placeholder-shown) + .admin-form-label {
    display: block;
}

.custom-checkbox-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 7px 0;
}

.medium-checkbox-box {
    margin: 0;
}

.lactose-label {
    padding: 0;
    font-size: calc(var(--admin-form-input-size) + 0.05rem);
    color: var(--label-color-darker);
}

.vegan-label {
    padding: 0;
    font-size: calc(var(--admin-form-input-size) + 0.05rem);
    color: var(--label-color-darker);
}

.nutri-label {
    font-size: calc(var(--admin-form-input-size) + 0.05rem);
    color: var(--label-color-darker);
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.nutri-select-field:focus {
    background-color: var(--gray2);
    /* border: 2px solid blue; */
}



@media (max-width: 474.98px) {
    .form-item {
        margin-bottom: 18px;
    }
    .admin-input-field,
    .notification-label {
        font-size: 0.95rem;
    }
    .lactose-label,
    .vegan-label {
        z-index: -1;
    }
}

@media (min-width: 475px) and (max-width: 767.98px) {
    .form-item {
        margin-bottom: 18px;
    }
    .admin-input-field,
    .notification-label {
        font-size: 0.95rem;
    }
    .lactose-label,
    .vegan-label {
        z-index: -1;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}