{% extends "base.html" %}

{% block title %}
Info
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<section class="home-section">
    <div class="home-container">
        
        {% include "home/side_panel.html" %}
        <div class="home-content">
            <input type="checkbox" id="toggle-top-panel" style="display: none;">
            <label class="news-link" for="toggle-top-panel">News</label>

                {% include "home/top_panel.html" %}
            
            <div class="news-container">
                
                    {% for news in all_news %}
                    <div class="news-item outline">
                        <div class="news-header">
                            <p class="news-code code-outline outline-padding {{ news.color }}">{{ news.code }}</p>
                            <p class="news-title outline-padding">{{ news.title }}</p>
                            <p class="read-more more-outline outline-padding">Read..</p>
                        </div>

                        <p class="news-important">{{ news.important }}</p>
                    </div>
                    {% endfor %}


            </div>

        </div>        
    </div>
</section>
{% endblock %}

